{% extends '_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div style="height: 64px; "></div>
    <div class="container d-flex flex-column justify-content-center align-items-center text-center" style="height: calc(80vh - 64px);">
            <div class="col-md-4 ">
                <h1 class="pb-2">Password reset</h1>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
                <form class="password_reset needs-validation" method="POST" action="{% url 'account_reset_password' %}" novalidate>
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                        <p class="text-danger py-0 my-0" style="font-size: 12px;">{{ error|escape }}</p>
                    {% endfor %}
                    <input class="form-control my-4" type="email" name="email" id="id_email" autocomplete="email" placeholder="Email" required>
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <p class="text-danger  py-0 my-0" style="font-size: 12px;">{{ error|escape }}</p>
                        {% endfor %}
                    {% endif %}
                    <button class="btn btn-deep-orange w-100 mx-0 mb-4" type="submit">Reset my password</button>
                </form>
            </div>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}








