{% extends '_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

    <div style="height: 64px; "></div>
    <div class="container d-flex flex-column justify-content-center align-items-center text-center" style="height: calc(80vh - 64px);">

        <div class="col-md-4 ">

            <h1>{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h1>

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p class="text-danger">The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
            {% else %}
                {% if form %}
                    <form class="needs-validation" method="POST" action="{{ action_url }}" novalidate>
                        {% csrf_token %}

                        {% for error in form.non_field_errors %}
                            <p class="text-danger text-left py-0 my-0">{{ error|escape }}</p>
                        {% endfor %}

                        <input class="form-control my-4" type="password" name="password1" id="id_password1" autocomplete="new-password" placeholder="Password" required>
                        {% if form.password1.errors %}
                            {% for error in form.password1.errors %}
                                <p class="text-danger  py-0 my-0">{{ error|escape }}</p>
                            {% endfor %}
                        {% endif %}

                        <input class="form-control my-4" type="password" name="password2" id="id_password2" placeholder="Password (again)" required>
                        {% if form.password2.errors %}
                            {% for error in form.password2.errors %}
                                <p class="text-danger  py-0 my-0">{{ error|escape }}</p>
                            {% endfor %}
                        {% endif %}

                        <button class="btn btn-info w-100 mx-0 mb-4" type="submit">Sign Up</button>
                    </form>
                {% else %}
                    <p>Your password is now changed.</p>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascript %}
{% endblock %}