.benefitAdminContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.benefitAdminBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
}

.benefitAdminBodyAdmin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  position: relative;
}

.benefitAdminBodyEditIcon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.benefitAdminBodyTitle {
  color: $primary;
  font-size: 1.1rem;
  margin-bottom: 13px;
}

.benefitAdminBodyContent {
  font-size: 1.1rem;
  color: $grayDarker4;
}

.benefitImage {
  object-fit: cover;
  max-height: 300px;
}

.carousel img {
  &.benefitImage {
    width: 100% !important;
  }
}

@media (min-width: 300px) {
  .benefitAdminContainer {
    max-width: 300px;
    margin: 25px 0;
  }
}

@media (min-width: 576px) {
  .benefitAdminContainer {
    max-width: 400px;
    margin: 25px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
