.footer {
  color: #fff;
  background-color: $primary;
}

.footer > h1 {
  padding: 2rem;
}

.footerColumn {
  margin: 4.4rem 0;
  padding: 0;
}

.footerLogoContainer {
  margin-bottom: 3rem;
}

.footerLogo {
  margin-right: 15px;
}

.footerDescriptionTitle {
  color: $secondary;
  margin-bottom: 10px;
}

.footerDescriptionContent {
  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 5px;
    }
  }
}

.rights {
  color: #fff;
  text-align: center;
  background: $secondary;
  padding: 1rem 0;

  p {
    margin-bottom: 0;
  }
}

.footerSubColumn {
  padding: 0 !important;
}

@media (min-width: 300px) {
  .footerColumnLeft {
    margin-left: 0;
  }

  .footerColumnRight {
    margin-right: 0;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .footerColumnLeft {
    margin-left: 4.7rem;
  }

  .footerColumnRight {
    margin-right: 4.7rem;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
