.footer {
  color: #fff;
  background-color: $primary;
  position: relative;
}

.footerMobile {
  @extend .footer;
  top: 0;
}

.footer > h1 {
  padding: 2rem;
}

.footerColumn {
  padding: 0;
}

.footerLogoContainer {
  margin-bottom: 3rem;
}

.footerLogo {
  margin-right: 15px;
}

.locationText {
  font-size: 0.85rem;
  margin: 0;
}

.locationSubText {
  font-size: 0.85rem;
  margin-top: 3rem;
}

.footerDescriptionTitle {
  color: $secondary;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.footerDescriptionContent {
  font-size: 0.85rem;
  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 5px;
    }
  }
}

.rights {
  color: #fff;
  text-align: center;
  background: $secondary;
  padding: 1rem 0;
  font-size: 0.85rem;
  font-style: italic;

  p {
    margin-bottom: 0;
  }
}

.footerSubColumn {
  padding: 0 !important;
  margin: 0 0.8rem;
}

.footerColumnLeft,
.footerColumnRight {
  padding: 1rem;
}

.footerColumnRight {
  display: flex;
  flex-direction: column;
}

@media (min-width: 300px) {
  .footer {
    display: none;
  }

  .footerMobile {
    display: block;
  }

  .footerColumn {
    margin: 0;
  }

  .footerColumnLeft {
    margin-left: 0;
  }

  .footerColumnRight {
    margin-right: 0;
    align-items: center;
  }

  .footerSubColumn {
    width: unset;
  }

  .firstFooterColumn,
  .secondFooterColumn,
  .thirdFooterColumn {
    flex-basis: 100%;
  }

  .secondFooterColumn {
    margin: 0;
    width: unset;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .footer {
    display: block;
  }

  .footerMobile {
    display: none;
  }

  .footerColumn {
    margin: 4.4rem 0;
  }

  .footerSubColumn {
    margin: 4.4rem 0;
    width: 20%;
  }

  .firstFooterColumn {
    flex-basis: auto;
    flex: 0.3 !important;
  }

  .secondFooterColumn {
    flex-basis: auto;
    flex: 0.5 !important;
    margin: 0 4.7rem;
    width: 20%;
  }

  .thirdFooterColumn {
    flex-basis: auto;
    flex: 0.2 !important;
  }
}

@media (min-width: 992px) {
  .footerColumnLeft {
    margin-left: 4.7rem;
  }

  .footerColumnRight {
    margin-right: 4.7rem;
    align-items: flex-end;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
}
