.background {
  display: flex;
  width: 100%;
  position: relative;
  height: 100vh;
}

.backgroundMobile {
  display: flex;
  flex-direction: column;
}

.navbarMobile {
  background-color: $primary;
  text-align: center;
  flex-direction: row !important;
}

.navbarLoginMobile {
  flex-direction: row !important;
}

.leftSVGNavbar {
  background-image: url('/assets/images/SVGs/LeftSVGGreen.svg');
}

.rightSVGNavbar {
  position: absolute;
  right: 0;
  z-index: 51;
}

.logo {
  margin: 1.1rem;
  position: absolute;
  z-index: 100;
  left: 30px;
  top: 0;
}

.logoScroll {
  margin: -1.85rem 0 -1.85rem 1.85rem;
  position: absolute;
  z-index: 100;
}

.navbar {
  box-shadow: none !important;
}

.nav-item-login {
  padding: 1rem;
}

.navbar-collapse {
  justify-content: flex-end;
}

ul {
  li {
    a {
      margin: 1.85rem 1.55rem 0 1.55rem;
      color: #fff;
    }
  }
}

.nav-item {
  a {
    font-size: 1.1rem !important;
    font-weight: 400 !important;
    margin: 0 21px !important;
  }
}

.nav-item:hover {
  a {
    color: #fff;
  }
}

.navbarLoginOption {
  border: 2px solid #fff;
  background: transparent;
  padding: 8px;
  border-radius: 15px;
}

.navbarHome {
  &.top-nav-collapse {
    background-color: $secondary !important;
  }
}

.scrolling-navbar {
  transition: all 0.3s ease !important;
}

.nav-link {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@media (min-width: 300px) {
  .navbarMobile,
  .buttonSmallDown {
    display: block;
  }

  .navbarLarger {
    display: none;
  }

  .rightSVGNavbar {
    left: unset;
    top: unset;
  }

  .loginButtonMobile {
    a {
      width: 100%;
    }
  }

  .nav-item {
    padding: 0 !important;
  }

  .nav-item-login {
    margin: 0 !important;
  }

  ul {
    li {
      a {
        margin: 1.85rem 0.5rem 0 0.5rem;
      }
    }
  }
}

@media (min-width: 576px) {
  .loginButtonMobile {
    a {
      width: 50%;
    }
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .navbarMobile {
    display: none;
  }

  .navbarLarger {
    display: block;
  }

  .rightSVGNavbar {
    left: 200px;
    top: -15px;
  }

  .nav-item {
    padding: 0 !important;
  }

  .nav-item-login {
    margin: 0 15px !important;
  }

  ul {
    li {
      a {
        margin: 1.85rem 1.55rem 0 1.55rem;
      }
    }
  }
}

@media (min-width: 1440px) {
  .rightSVGNavbar {
    top: unset;
    left: unset;
  }
}
