.navbarItemLogin {
  color: $grayDarker6 !important;
  padding: 18px 16px;
  margin: 0 25px !important;
  font-size: 1.1rem;
  font-weight: 700;
}

.navbarItemLogin:hover {
  background: $grayDarker7 !important;
  border-radius: 10px;
  color: #fff !important;
}

.navbarItemLoginButton {
  border: 1px solid $grayDarker7;
  padding: 1rem;
  border-radius: 15px;
}

.navbarLoginMobile {
  background-color: #fff;
  text-align: center;
}

@media (min-width: 300px) {
  .navbarLoginMobile,
  .buttonSmallDownLogin {
    display: block;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .buttonSmallDown {
    display: none;
  }
}

@media (min-width: 1440px) {
  .navbarLoginMobile {
    display: none;
  }
}
