.background {
  display: flex;
  width: 100%;
  position: relative;
  height: 100vh;
}

.backgroundMobile {
  display: flex;
  flex-direction: column;
}

.navbarMobile {
  background-color: $primary;
  text-align: center;
}

.leftSVGNavbar {
  // position: relative;
  background-image: url('/assets/images/SVGs/LeftSVGGreen.svg');
}

.rightSVGNavbar {
  position: absolute;
  right: 0;
  z-index: 51;
}

// .leftSVGNavbar {
//   z-index: 50;
// }

.logo {
  margin: 1.1rem;
  position: absolute;
  z-index: 100;
  left: 30px;
  top: 0;
}

.logoScroll {
  margin: -1.85rem 0 -1.85rem 1.85rem;
  position: absolute;
  z-index: 100;
}

.navbar {
  box-shadow: none !important;
}

.nav-item-login {
  padding: 1rem;
}

.navbar-collapse {
  justify-content: flex-end;
}

ul {
  li {
    a {
      margin: 1.85rem 1.55rem 0 1.55rem;
      color: #fff;
    }
  }
}

.nav-item {
  a {
    font-size: 1.1rem !important;
    font-weight: 400 !important;
    margin: 0 21px !important;
  }
}

.navbarLoginOption {
  border: 2px solid #fff;
  background: transparent;
  padding: 8px;
  border-radius: 15px;
}

.orangeBackground {
  padding: 0.5rem;
  background-color: $secondary;
  border-radius: 1.25rem;
  width: 100%;
}

.top-nav-collapse {
  background-color: $secondary !important;
}

.scrolling-navbar {
  transition: all 1s ease !important;
}

.nav-link {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@media (min-width: 300px) {
  .navbarMobile,
  .buttonSmallDown {
    display: block;
  }

  .navbarLarger,
  .buttonSmallUp {
    display: none;
  }

  .loginButtonMobile {
    a {
      width: 100%;
    }
  }

  .nav-item {
    padding: 0 !important;
  }

  .nav-item-login {
    margin: 0 !important;
  }

  ul {
    li {
      a {
        margin: 1.85rem 0.5rem 0 0.5rem;
      }
    }
  }
}

@media (min-width: 576px) {
  .loginButtonMobile {
    a {
      width: 50%;
    }
  }

  .buttonSmallUp {
    display: block;
  }

  .buttonSmallDown {
    display: none;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .nav-item {
    padding: 0.5rem !important;
  }

  .nav-item-login {
    margin: 0 15px !important;
  }

  ul {
    li {
      a {
        margin: 1.85rem 1.55rem 0 1.55rem;
      }
    }
  }
}

@media (min-width: 1440px) {
  .navbarMobile {
    display: none;
  }

  .navbarLarger {
    display: block;
  }
}
