.background {
  display: flex;
  width: 100%;
  position: relative;
  height: 100vh;
}

.backgroundMobile {
  display: flex;
  flex-direction: column;
}

.navbarMobile {
  background-color: $primary;
  text-align: center;
}

.leftSVGNavbar,
.rightSVGNavbar {
  position: absolute;
}

.leftSVGNavbar {
  z-index: 50;
}

.rightSVGNavbar {
  right: 0;
}

.logo {
  margin: 1.85rem;
  position: absolute;
  z-index: 100;
  left: 1.85rem;
}

.navbar {
  box-shadow: none !important;
}

.navbar-collapse {
  justify-content: flex-end;
}

ul {
  li {
    a {
      margin: 1.85rem 1.55rem 0 1.55rem;
      color: #fff;
    }
  }
}

.greenBackground {
  padding: 0.5rem;
  background-color: $primaryDarker;
  border-radius: 1.25rem;
}

.orangeBackground {
  padding: 0.5rem;
  background-color: $secondary;
  border-radius: 1.25rem;
  width: 100%;
}

.welcomeTitle1,
.welcomeTitle2,
.welcomeSubtitle,
.welcomeText,
.welcomeButton {
  position: absolute;
  z-index: 100;
  color: #fff;
}

.welcomeTitle1 {
  top: 13%;
  margin: 1.85rem 0 0 6.55rem;
  font-size: 4rem;
}

.welcomeTitle2 {
  top: 20%;
  margin: 1.85rem 0 0 6.55rem;
  font-size: 4rem;
}

.welcomeSubtitle {
  top: calc(20% + 100px);
  margin: 3.8rem 0 0 6.55rem;
  width: 65%;
}

.welcomeText {
  top: calc(30% + 170px);
  margin-left: 6.55rem;
  width: 65%;
}

.welcomeButton {
  background-color: #fff;
  color: $primaryDarker;
  padding: 1rem 3rem;
  top: 60%;
  left: calc(0% + 6.55rem);
  border: none;
  border-radius: 1.25rem;
}

.top-nav-collapse {
  background-color: $secondary !important;
}

.scrolling-navbar {
  transition: all 1s ease !important;
}

.nav-link {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@media (min-width: 300px) {
  .navbarMobile,
  .buttonSmallDown {
    display: block;
  }

  .navbarLarger,
  .buttonSmallUp {
    display: none;
  }

  .loginButtonMobile {
    a {
      width: 100%;
    }
  }
}

@media (min-width: 576px) {
  .loginButtonMobile {
    a {
      width: 50%;
    }
  }

  .buttonSmallUp {
    display: block;
  }

  .buttonSmallDown {
    display: none;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
  .navbarMobile {
    display: none;
  }

  .navbarLarger {
    display: block;
  }
}
