.navbarItemLogin {
  color: $gray;
  padding: 1rem;
  margin: 0 25px !important;
}

.navbarItemLoginButton {
  border: 1px solid $gray;
  padding: 1rem;
  border-radius: 15px;
}

.navbarLoginMobile {
  background-color: $secondary;
  text-align: center;
}

.buttonSmallUpLogin {
  display: none;
}

@media (min-width: 300px) {
  .navbarLoginMobile,
  .buttonSmallDownLogin {
    display: block;
  }

  .buttonSmallUp {
    display: none;
  }
}

@media (min-width: 576px) {
  .buttonSmallDown {
    display: none;
  }

  .buttonSmallUp {
    display: block;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
  .navbarLoginMobile {
    display: none;
  }
}
