.navbarItemLogin {
  color: $grayDarker6;
  padding: 1rem;
  margin: 0 25px !important;
}

.navbarItemLoginButton {
  border: 1px solid $grayDarker6;
  padding: 1rem;
  border-radius: 15px;
}

.navbarLoginMobile {
  background-color: $secondary;
  text-align: center;
}

@media (min-width: 300px) {
  .navbarLoginMobile,
  .buttonSmallDownLogin {
    display: block;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .buttonSmallDown {
    display: none;
  }
}

@media (min-width: 1440px) {
  .navbarLoginMobile {
    display: none;
  }
}
