.notFoundContainer {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.notFoundImage {
  margin: 50px 0;
}

.notFoundTitle {
  font-size: 2.5rem;
  margin: 50px 0;
  text-align: center;
}

.notFoundButton {
  background: $secondary;
  padding: 18px 16px;
  font-size: 1.5rem;
  color: #fff;
  border: none;
  border-radius: 10px;
}

@media (min-width: 300px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
