.orangePlan {
  margin: 1.5rem;
  background: #fff;
  height: 500px;
  width: 340px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;

  .orangePlanSVGWithHover {
    display: block;
  }

  .orangePlanSVGWithoutHover {
    display: none;
  }
}

.orangePlan:hover {
  .orangePlanTime {
    color: #000 !important;
  }
}

.orangePlan:hover {
  transform: scale(1.1);

  .orangePlanSVGWithoutHover {
    display: block;
  }

  .orangePlanSVGWithHover {
    display: none;
  }

  .orangePlanButton {
    background: $secondary;
  }
}

.orangePlanSVGWithoutHover,
.orangePlanSVGWithHover {
  position: absolute;
}

.orangePlanTitle {
  font-size: 1.5rem;
}

.orangePlanInformation {
  position: absolute;
  color: #fff;

  div {
    position: relative;
    top: 20px;

    svg {
      margin: 0 2rem;
    }
  }
}

.orangePlanPrice {
  font-size: 3rem;
}

.orangePlanPrice {
  position: absolute;
  top: 80px;
  margin: 0 2rem;
}

.orangePlanSelect {
  position: relative;
  top: 200px;
  background: #fafafa;
  color: $grayLighter4 !important;
  width: 300px;
  padding: 0 1.85rem 0 1.85rem;
}

.orangePlanTime {
  position: relative;
  top: 210px;
  color: $grayLighter4 !important;
  font-size: 1.1rem;
  padding: 0 1.85rem 0 1.85rem;
}

.orangePlanButtonContainer {
  padding: 0 1.85rem 0 1.85rem;
}

.orangePlanButton {
  position: relative;
  top: 250px;
  border: none;
  border-radius: 10px;
  background-color: $secondaryLight;
  padding: 20px 15px;
  color: #fff;
  transition: all 0.5s ease-in-out;
  width: 100%;
  transition: .5s all ease;
}

.orangePlanButton:hover {
  background-color: $grayLighter13 !important;
  color: $secondary !important;
}

.orangePlanButton:focus {
  background: #fff !important;
  color: $secondary !important;
}

@media (min-width: 300px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
