.planContainer {
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 20px;
  color: #fff;
  padding: 2.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  width: 280px;
  transition: all 0.5s ease;
  height: 290px;
  margin: 1.5rem 1.5rem;
}

.planContainer:hover {
  background-color: $secondary;
  border: 2px solid $secondary;
}

.planContainerWithBackground {
  @extend .planContainer;
  background-color: $primary;
}

.planContainerImage {
  position: absolute;
  top: -10%;
}

.planContainerTitle {
  font-size: 2.25rem;
  text-align: center;
}

.planContainerDescription {
  font-size: 1.1rem;
  text-align: center;
}

.planContainerPrice {
  font-size: 2.25rem;
  text-align: center;
}

@media (min-width: 300px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
