.plansContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.planContainer {
  background-color: $primary;
  border-radius: 15px;
  color: #fff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 1rem;
  position: relative;
  justify-content: space-evenly;
}

.planIcon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: $primaryDarker;
}

.currentPlanContent {
  display: flex;
  align-items: space-around;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.buttonContainer {
  color: $primaryDarker;
  background-color: #fff;
  border: none;
  border-radius: 15px;
}

@media (min-width: 300px) {
  .planContainer {
    height: 300px;
  }

  .currentPlanContainer {
    max-width: 280px;
  }

  .buttonContainer {
    padding: 0.5rem 2rem;
  }
}

@media (min-width: 576px) {
  .planContainer {
    max-width: 250px;
  }

  .currentPlanContainer {
    max-width: 400px;
  }

  .buttonContainer {
    padding: 0.5rem 4rem;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .buttonContainer {
    padding: 0.5rem 2rem;
  }
}

@media (min-width: 1200px) {
  .buttonContainer {
    padding: 0.5rem 4rem;
  }
}

@media (min-width: 1400px) {
}
