.planHorizontalContainer {
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 20px;
  color: #000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin: 20px 0;
  background: #fff;
}

.planHorizontalLeftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  flex: 33%;
}

.planHorizontalContainerTitle {
  font-size: 1.5rem;
  text-align: center;
  color: $secondary;
}

.planHorizontalRightSide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $grayDarker5;
  flex: 66%;
}

.planHorizontalContainerDescription {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  font-size: 1.15rem;
}

.planHorizontalContainerPrice {
  font-size: 2.25rem;
  text-align: center;
}

@media (min-width: 300px) {
  .planHorizontalContainer {
    width: 100%;
  }

  .planHorizontalLeftSide {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .planHorizontalContainer {
    width: 400px;
  }

  .planHorizontalLeftSide {
    width: 150px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
