.serviceContainer {
  display: flex;
  color: #fff;
  flex: 1;
  margin: 5px 30px;
  max-height: 400px;
}

.serviceContainerDarkText {
  @extend .serviceContainer;
  color: #000;
  flex: unset;
  justify-content: space-between;
  height: unset !important;
}

.smallServiceContainer {
  display: flex;
  color: #fff;
  margin-bottom: 15px;
}

.smallServiceContainerDarkText {
  @extend .smallServiceContainer;
  color: #000;
}

.serviceContainerSVG {
  width: 100px;
}

.serviceContainerInformation {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 70%;

  p {
    margin: 0;
  }
}

.smallServiceContainerInformation {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 70%;

  p {
    margin: 0;
  }
}

.serviceTitle {
  margin: 0 10px 0 20px !important;
  font-size: 1.5rem;
}

.smallServiceTitle {
  margin: 0 0 0 20px !important;
  font-size: 1.1rem;
}

.serviceSubtitle {
  font-size: 1.1rem;
  margin-left: 20px !important;
}

@media (min-width: 300px) {
  .serviceContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0;
  }

  .serviceContainerDarkText {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 30px 0;
  }

  .serviceContainerInformation {
    margin-left: 0;
  }
}

@media (min-width: 576px) {
  .serviceContainer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .serviceContainerDarkText {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .serviceContainerInformation {
    margin-left: 40px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
