.serviceContainer {
  display: flex;
  color: #fff;
  flex: 1;
  margin: 25px;
}

.serviceContainerDarkText {
  @extend .serviceContainer;
  flex-direction: row !important;
  color: #000;
  flex: unset;
  justify-content: space-between;
  height: unset !important;
}

.smallServiceContainer {
  display: flex;
  color: #fff;
  margin-bottom: 35px;
}

.smallServiceContainerDarkText {
  @extend .smallServiceContainer;
  color: #000;
}

.serviceContainerImage,
.smallServiceContainerImage {
  width: 30%;
  text-align: center;
}

.serviceContainerInformation {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 70%;

  p {
    margin: 0;
  }
}

.smallServiceContainerInformation {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 70%;

  p {
    margin: 0;
  }
}

.serviceTitle {
  margin-bottom: 20px !important;
  font-size: 1.5rem;
}

.smallServiceTitle {
  margin-bottom: 20px !important;
  font-size: 1.1rem;
}

.serviceSubtitle {
  font-size: 1.1rem;
}

@media (min-width: 300px) {
  .serviceContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
  }

  .serviceContainerInformation {
    margin-left: 0;
  }

  .serviceContainerImage {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

@media (min-width: 576px) {
  .serviceContainer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    min-height: 320px;
    max-height: 400px;
  }

  .serviceContainerImage {
    margin-right: 40px;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .serviceContainer {
    height: 100%;
    min-height: 200px;
    max-height: 400px;
  }

  .serviceContainerInformation {
    margin-left: 40px;
  }
}

@media (min-width: 992px) {
  .serviceContainer {
    height: 100%;
    min-height: 300px;
    max-height: 400px;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
