.serviceContainer {
  display: flex;
  color: #fff;
  flex: 1;
  margin: 1.5rem;
}

.smallServiceContainer {
  display: flex;
  color: #fff;
  margin-bottom: 2.2rem;
}

.serviceContainerImage {
  width: 30%;
  text-align: center;
}

.serviceContainerInformation {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 70%;

  p {
    margin: 0;
  }
}

.serviceTitle {
  margin-bottom: 1.3rem !important;
}

@media (min-width: 300px) {
  .serviceContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 500px;
  }

  .serviceContainerInformation {
    margin-left: 0;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .serviceContainer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 450px;
  }

  .serviceContainerInformation {
    margin-left: 2.5rem;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .serviceContainer {
    height: 350px;
  }
}

@media (min-width: 1400px) {
}
