.sidebarItem {
  list-style-type: none;
  padding: 20px;
  color: #000;
}

.sidebarItem:hover {
  color: #fff;
  border-left: 5px #0e4327 solid;
  background-color: #1b783f;
}

@media (min-width: 300px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
