.sidebarItem {
  list-style-type: none;
  padding: 20px;
  cursor: pointer;

  a > p {
    color: #000;
  }
}

.sidebarItem:hover {
  border-left: 5px $primaryDarker solid;
  background-color: $primary;

  a > p {
    color: #fff;
  }
}

.categoryTitle {
  margin: 0 1rem;
  color: #000;
}

@media (min-width: 300px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
