.sidebarSubItem {
  list-style-type: none;
  padding: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: $primaryLighter1;
  color: #fff;

  p {
    color: #fff;
  }
}

.subCategoryTitle {
  margin: 0 25px;
  color: $primary;
  font-size: 1.1rem;
}

@media (min-width: 300px) {
  .sidebarSubItem {
    justify-content: flex-end;
  }
}

@media (min-width: 576px) {
  .sidebarSubItem {
    justify-content: flex-start;
    padding-left: 100px;
  }
}

@media (min-width: 768px) {
  .sidebarSubItem {
    justify-content: flex-start;
    padding-left: 20px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
  .sidebarSubItem {
    padding-left: 50px;
  }
}
