.sidebarItem {
  list-style-type: none;
  padding: 20px;
  cursor: pointer;
  display: flex;

  a {
    margin: 0;
  }

  a > p {
    color: $primary;
  }
}

.sidebarItem:hover {
  border-left: 5px $primaryDarker solid;
  background-color: $primaryLighter;

  a > p {
    color: #fff;
  }
}

.categoryTitle {
  margin: 0 0 0 25px;
  color: $primary;
  font-size: 1.1rem;
}

@media (min-width: 300px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
}
