.comunidadBeneficiosUsuarioTitle {
  font-size: 2.25rem;
  color: $grayDarker11;
  padding: 75px 0 25px 0;
}

.comunidadBeneficiosUsuarioBenefitsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 300px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
