.comunidadUsuarioTitle {
  font-size: 2.25rem;
  color: $grayDarker11;
  padding: 75px 0 25px 0;
}

.comunidadUsuarioSubtitle {
  font-size: 1.1rem;
  margin-bottom: 25px;
}

.comunidadUsuarioText {
  font-size: 1.1rem;
}

.comunidadUsuarioArticlesTitle {
  color: $grayDarker11;
  margin: 40px 0;
  font-size: 2.25rem;
}

@media (min-width: 300px) {
  .comunidadUsuarioArticlesContainerLarger,
  .comunidadUsuarioArticlesContainerMiddle {
    display: none;
  }

  .comunidadUsuarioArticlesContainerMobile {
    display: block;
  }
}

@media (min-width: 576px) {
  .comunidadUsuarioArticlesContainerMobile {
    display: none;
  }

  .comunidadUsuarioArticlesContainerMiddle {
    display: block;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
  .comunidadUsuarioArticlesContainerLarger {
    display: block;
  }

  .comunidadUsuarioArticlesContainerMobile,
  .comunidadUsuarioArticlesContainerMiddle {
    display: none;
  }
}
