.comunidadAdminNoticeTitle {
  font-size: 3rem;
  margin: 0;
  color: $grayDarker11;
}

.comunidadAdminNoticeReceiver {
  display: flex;
  align-items: center;
}

.comunidadAdminNoticeReceiverText {
  font-size: 1.5rem;
  margin: 0 20px 0 0;
  color: $grayDarker11;
  width: 150px;
}

.comunidadAdminNoticeReceiverSelect {
  background-color: $grayLigther14 !important;
  color: $grayLighter7 !important;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $grayLighter12;
  width: 100%;
  margin: 0 0 25px 0 !important;
}

.comunidadAdminNoticeReceiverTitle,
.comunidadAdminNoticeReceiverMessage {
  background-color: $grayLigther14;
  border-radius: 5px;
  margin-bottom: 25px;
}

.comunidadAdminRightSide {
  background-color: $grayLigther14;
  color: $grayLighter7;
  height: 100%;
}

.comunidadAdminRightSideTitle {
  font-size: 2.25rem;
  padding: 50px 0 20px 20px;
}

.comunidadAdminRightSideBirthdayContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.comunidadAdminRightSideBirthdayImage {
  width: 130px;
  height: 130px;
  background-color: $grayLighter5;
  border-radius: 50%;
  margin: 25px 20px 55px 20px;
}

.comunidadAdminRightSideBirthdayButtonContainer {
  display: flex;
}

.comunidadAdminRightSideBirthdayButton {
  background-color: $grayLighter5;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 16px;
  width: 130px;
  margin-bottom: 30px;
}

.comunidadAdminArticlesTitle {
  color: $grayDarker11;
  margin: 40px 0;
  font-size: 2.25rem;
}

@media (min-width: 300px) {
  .comunidadAdminNoticeTitle {
    font-size: 2.25rem;
  }

  .comunidadAdminRightSideBirthdayContainer {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .comunidadAdminRightSideBirthdayButtonContainer {
    justify-content: center;
  }
}

@media (min-width: 576px) {
  .comunidadAdminNoticeTitle {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .comunidadAdminRightSideBirthdayButtonContainer {
    justify-content: flex-end;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
