.communityHeaderContent {
  position: relative;
  z-index: 100;
  color: #fff;
  top: 5%;
  margin-left: 6.55rem;
  width: 500px;
}

.communityTitle,
.communitySubitle,
.communityText {
  z-index: 100;
  color: #fff;
}

.communityTitle {
  font-size: 4rem;
}

.communitySubitle {
  font-size: 1.5rem;
}

.communityText {
  font-size: 1.1rem;
}

@media (min-width: 300px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
