.comunidadUsuarioTitle {
  font-size: 2.25rem;
  color: $grayDarker11;
  padding: 75px 0 25px 0;
}

.comunidadUsuarioSubtitle {
  font-size: 1.1rem;
  margin-bottom: 25px;
}

.comunidadUsuarioText {
  font-size: 1.1rem;
}

.comunidadUsuarioArticlesTitle {
  color: $grayDarker11;
  margin: 40px 0;
  font-size: 2.25rem;
}

@media (min-width: 300px) {
  .comunidadUsuarioArticlesContainerLarger,
  .comunidadUsuarioArticlesContainerMiddle {
    display: none;
  }

  .comunidadUsuarioArticlesContainerMobile {
    display: block;
  }
}

@media (min-width: 576px) {
  .comunidadUsuarioArticlesContainerMobile {
    display: none;
  }

  .comunidadUsuarioArticlesContainerMiddle {
    display: block;
  }
}

@media (min-width: 768px) {
  .sideMenuComunidadUsuario,
  .panelContentComunidadUsuario {
    height: 4700px;
  }
}

@media (min-width: 992px) {
  .sideMenuComunidadUsuario,
  .panelContentComunidadUsuario {
    height: 4300px;
  }
}

@media (min-width: 1200px) {
  .sideMenuComunidadUsuario,
  .panelContentComunidadUsuario {
    height: 3150px;
  }
}

@media (min-width: 1400px) {
  .sideMenuComunidadUsuario,
  .panelContentComunidadUsuario {
    height: 2650px;
  }

  .comunidadUsuarioArticlesContainerLarger {
    display: block;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    .carousel-root {
      .carousel {
        .slider-wrapper {
          .slide {
            &.selected {
              .benefitAdminContainer {
                position: relative;
                left: 20%;
              }
            }
          }
        }
      }
    }
  }

  .comunidadUsuarioArticlesContainerMobile,
  .comunidadUsuarioArticlesContainerMiddle {
    display: none;
  }
}
