.contratosAdminTitle {
  font-size: 3rem;
  margin: 0;
}

.contratosAdminSearch {
  position: relative;
  width: 270px;
}

.contratosAdminInput {
  padding-left: 50px;
  width: 100%;
}

.contratosAdminSearchSVG {
  position: absolute;
  top: 0;
  left: 10px;
  margin: 5px;
}

.contratosAdminFilterButtonsContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contratosAdminFilterLogo {
  margin-right: 22px;
}

.contratosAdminFilterButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primaryLighter2;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 10px 15px;
}

.contratosAdminTable {
  margin-top: 80px;
}

.contratosAdminTableHead {
  color: $grayDarker14;
  font-size: 1.5rem;
}

.contratosAdminRowHover {
  font-size: 1.1rem;
  color: $grayDarker14;
  text-align: center;
}

.contratosAdminRowHover:hover {
  background: $grayDarker15;
  color: #fff;
}

.contratosAdminRightSide {
  color: $grayDarker15;
}

.contratosAdminRightSideHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.contratosAdminRightSideHeaderImage {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: $grayLighter5;
}

.contratosAdminRightSideHeaderName {
  color: $grayDarker10;
  margin: 0 0 0 24px;
}

.contratosAdminRightSidePersonalDataTitle {
  font-size: 1.5rem;
  margin: 25px 0 0 0;
}

.contratosAdminRightSidePeronalData {
  font-size: 1.1rem;
  margin: 25px 0;
}

.contratosAdminRightSideActualPlan {
  color: $grayDarker16;
  background-color: $grayLighter5;
  padding: 10px 30px;
  margin-bottom: 20px;
}

.contratosAdminRightSideActualPlanTitle {
  margin: 0 0 8px 0;
}

.contratosAdminRightSideActualPlanDetail {
  margin: 0;
}

.contratosAdminRightSideAvailableTime {
  color: $grayDarker16;
  background-color: $grayLighter5;
  padding: 10px 30px;
  margin-bottom: 60px;
}

.contratosAdminRightSideAvailableTimeTitle {
  font-size: 1.5rem;
  margin: 10px 0;
}

.progress {
  &.contratosAdminRightSideProgressBar {
    height: unset !important;
  }

  .contratosAdminRightSideProgressBar {
    background: #b7b7b7;
    border-radius: 10px;
  }
}

.contratosAdminRightSideContractContainer {
  background-color: $grayLighter5;
  padding: 10px 30px;
}

.contratosAdminRightSideContractTitle {
  color: $grayDarker16;
  margin: 25px 0;
}

.contratosAdminRightSideContract {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contratosAdminRightSideContractData {
  display: flex;
  align-items: flex-start;
  margin: 0 10px;

  p {
    font-size: 1.1rem;
    color: $grayDarker10;
    margin-left: 10px;
  }
}

.contratosAdminRightSideContractDownload {
  color: $grayDarker16;
  text-align: right;
}

.page-link {
  &.contratosAdminPagination {
    background-color: $primary !important;
  }
}

@media (min-width: 300px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
