.contractAdminTitle {
  font-size: 3rem;
  color: $grayDarker9;
  padding: 36px 0 60px 0;
}

.contractAdminContractContainer {
  display: flex;
  flex-wrap: wrap;
}

.contractAdminContractLeft {
  background: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  border-radius: 10px;
  margin: 0 25px;
}

.contractAdminContractLeftTitle {
  font-size: 1.5rem;
  color: $grayDarker9;
  margin: 26px 0 12px 0;
}

.contractAdminContractLeftSeparator {
  border: 1px solid $grayLighter5;
  width: 100%;
}

.contractAdminContractLeftFirstSection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 60px;
  width: 100%;
}

.contractAdminContractLeftFirstSectionDescription {
  font-size: 1.1rem;
  margin-left: 20px;
}

.contractAdminContractLeftSecondSection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 40px;
  width: 100%;
}

.contractAdminContractLeftSecondSectionDescription {
  font-size: 1.1rem;
  margin-left: 20px;
}

.contractAdminContractLeftThirdtSection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 40px;
  width: 100%;
}

.contractAdminContractLeftThirdtSectionDescription {
  font-size: 1.1rem;
  margin-left: 20px;
}

.contractAdminContractLeftButton {
  background: $primary;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0 48px 0;
  width: 100%;
}

.contractAdminContractRight {
  margin: 0 25px;
}

.contactAdminContractRightNameContainer {
  display: flex;
  align-items: center;
}

.contractAdminContractRightName {
  margin-left: 20px;
}

.contractAdminContractRightDescription {
  margin: 40px 0;
}

.contactAdminContractRightStatusContainer {
  display: flex;
  align-items: center;
}

.contractAdminContractRightStatus {
  margin-left: 20px;
}

@media (min-width: 300px) {
  .contratoAdminMobile {
    display: block;
  }

  .contratoAdminLarger {
    display: none;
  }

  .contractAdminContractLeft,
  .contractAdminContractRight {
    flex: 1;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .contratoAdminMobile {
    display: none;
  }

  .contratoAdminLarger {
    display: block;
  }
}

@media (min-width: 992px) {
  .contractAdminContractLeft {
    flex: 1;
  }

  .contractAdminContractRight {
    flex: 2;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
}
