.contratoUsuarioTitle {
  font-size: 3rem;
  color: $grayDarker10;
}

.contratoUsuarioContractContainer {
  display: flex;
  flex-wrap: wrap;
}

.contratoUsuarioContractLeft {
  background: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;
  margin: 0 25px;
}

.contratoUsuarioContractLeftTitle {
  font-size: 1.5rem;
  color: $grayDarker10;
  margin: 26px 0 12px 0;
}

.contratoUsuarioContractLeftSeparator {
  border: 1px solid $grayLighter5;
  width: 100%;
}

.contratoUsuarioContractLeftFirstSection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 60px;
  width: 100%;
}

.contratoUsuarioContractLeftFirstSectionDescription {
  font-size: 1.1rem;
  margin-left: 20px;
}

.contratoUsuarioContractLeftSecondSection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 40px;
  width: 100%;
}

.contratoUsuarioContractLeftSecondSectionDescription {
  font-size: 1.1rem;
  margin-left: 20px;
}

.contratoUsuarioContractLeftThirdtSection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 40px;
  width: 100%;
}

.contratoUsuarioContractLeftThirdtSectionDescription {
  font-size: 1.1rem;
  margin-left: 20px;
}

.contratoUsuarioContractLeftButton {
  background: $primary;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0 48px 0;
  width: 100%;
}

.contratoUsuarioContractRight {
  margin: 0 25px;
}

.contactAdminContractRightNameContainer {
  display: flex;
  align-items: center;
}

.contratoUsuarioContractRightName {
  margin-left: 20px;
}

.contratoUsuarioContractRightDescription {
  margin: 40px 0;
}

.contratoUsuarioContractRightStatusContainer {
  display: flex;
  align-items: center;
}

.contratoUsuarioContractRightStatus {
  margin-left: 20px;
}

.contratoUsuarioSignModal {
  background: #fff;
  color: $grayDarker2;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contratoUsuarioSignModalHeader {
  position: relative;
}

.contratoUsuarioSignModalHeaderTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  margin: 0;
  padding: 20px 0;
}

.contratoUsuarioSignModalHeaderX {
  position: absolute;
  right: 30px;
  top: 0;
  padding: 20px 0;
}

.contratoUsuarioSignModalBody {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.contratoUsuarioSignModalBodyDescription {
  margin-left: 20px;
  font-size: 1.1rem;
  line-height: 40px;
}

.contratoUsuarioSignModalButton {
  background: $primary;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 18px 16px;
  width: 270px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
}

@media (min-width: 300px) {
  .contratoUsuarioMobile {
    display: block;
  }

  .contratoUsuarioLarger {
    display: none;
  }

  .contratoUsuarioContractLeft {
    padding: 20px;
  }

  .contratoUsuarioContractLeft,
  .contratoUsuarioContractRight {
    flex: 1;
  }

  .contratoUsuarioContractRight {
    margin-top: 30px;
  }

  .contratoUsuarioSignModal {
    max-width: 100vw;
    padding: 20px 30px;
  }
}

@media (min-width: 576px) {
  .contratoUsuarioSignModal {
    padding: 70px 100px;
  }

  .contratoUsuarioContractLeft {
    padding: 50px;
  }
}

@media (min-width: 768px) {
  .sideMenuContratoUsuario,
  .panelContentContratoUsuario {
    height: 1900px;
  }

  .contratoUsuarioMobile {
    display: none;
  }

  .contratoUsuarioLarger {
    display: block;
  }
}

@media (min-width: 992px) {
  .sideMenuContratoUsuario,
  .panelContentContratoUsuario {
    height: 1650px;
  }

  .contratoUsuarioContractLeft {
    flex: 1;
  }

  .contratoUsuarioContractRight {
    flex: 2;
    margin-top: 0;
  }

  .contratoUsuarioSignModal {
    width: 35vw;
  }
}

@media (min-width: 1200px) {
  .sideMenuContratoUsuario,
  .panelContentContratoUsuario {
    height: 1350px;
  }
}

@media (min-width: 1400px) {
  .sideMenuContratoUsuario,
  .panelContentContratoUsuario {
    height: 1150px;
  }
}
