.controlClientesAdminTitle {
  color: $primaryDarker;
  font-size: 3rem;
  margin: 0 0 40px 0;
}

.controlClientesAdminSearch {
  position: relative;
  width: 270px;
}

.controlClientesAdminInput {
  padding-left: 50px;
  width: 100%;
}

.controlClientesAdminSearchSVG {
  position: absolute;
  left: 10px;
  margin: 5px;
}

.controlClientesAdminFilterLogo {
  margin-right: 22px;
}

.controlClientesAdminFilterButtonsContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.controlClientesAdminFilterButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primaryLighter2;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 10px 15px;
}

.controlClientesAdminTable {
  margin-top: 50px;
  border-radius: 15px;
}

.controlClientesAdminPrimaryColorDarkerRow {
  background-color: $primaryDarker;
}

.controlClientesAdminRowHover {
  text-align: center;
  font-size: 1.1rem;
  color: $grayDarker2;
}

.controlClientesAdminCancelButton {
  background-color: transparent;
  border: none;
  color: $grayDarker2;
}

.page-link {
  &.controlClientesAdminPagination {
    background-color: $primary !important;
  }
}

.controlClientesAdminRowHover:hover .controlClientesAdminCancelButton {
  background-color: #fff;
  border-radius: 10px;
  color: $primaryDarker;
  padding: 10px;
}

.controlClientesAdminRowHover:hover {
  background-color: $primaryLighter2;
  color: #fff;
}

.controlClientesAdminAvailabilityTitle {
  font-size: 1.5rem;
  color: $grayDarker10;
  margin: 115px 0 20px 0;
}

.controlClientesAdminRoomsContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.controlClientesAdminRoomContainer {
  padding: 20px 50px;
  background-color: #fff;
  border-radius: 10px;
}

.controlClientesAdminRoomContainerTitle {
  font-size: 1.5rem;
  color: $grayDarker10;
  margin: 0 0 30px 0;
}

.controlClientesAdminRoomContainerImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: $primaryLighter2;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.controlClientesAdminRoomContainerDataContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.controlClientesAdminRoomContainerData {
  display: flex;
  align-items: center;
  margin: 50px 5px 0 5px;
}

.controlClientesAdminRoomContainerDataImage {
  width: 25px;
  height: 25px;
  background-color: $primaryLighter2;
  border-radius: 50%;
  margin-right: 10px;
}

.controlClientesAdminRoomContainerDataText {
  font-size: 1.1rem;
  margin: 0;
}

@media (min-width: 300px) {
  .controlClientesAdminRoomsContainer {
    justify-content: center;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .controlClientesAdminRoomsContainer {
    justify-content: initial;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
