.estadisticasAdminTitle {
  font-size: 1.5rem;
  color: $grayLighter7;
}

.estadisticasAdminPlanesContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.estadisticasAdminPlan {
  border-radius: 10px;
  color: $grayLighter7;
  text-align: center;
}

.estadisticasAdminPlanTitle {
  font-size: 1.1rem;
  margin: 15px 0;
  color: $grayDarker20;
}

.estadisticasAdminPlanQuantity {
  font-size: 2.25rem;
  margin: 40px 0 0 0;
  color: $grayDarker10;
}

.estadisticasAdminPlanDetail {
  font-size: 1.1rem;
  color: $grayLighter7;
}

.estadisticasAdminPlanSeparator {
  border-left: 1px solid $grayLighter7;
  height: 100px;
  background-color: $grayLighter7;
  margin: 0 35px;
}

.estadisticasAdminPlanesDetailsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.estadisticasAdminPlanesDetailsElement {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 50px;
}

.estadisticasAdminPlanesDetailsTitle {
  color: $grayDarker10;
  margin: 25px 0;
  text-align: center;
  max-width: 240px;
}

.estadisticasAdminPlanesDetailsImage {
  width: 140px;
  height: 140px;
  background-color: $grayLighter5;
  border-radius: 50%;
  margin-bottom: 15px;
}

.estadisticasAdminPlanesDetailsInfo {
  display: flex;
  align-items: center;
}

.estadisticasAdminPlanesDetailsTableOffice {
  color: $grayDarker3;
}

.estadisticasAdminPlanesDetailsTableStatus {
  color: $grayDarker10;
}

.estadisticasAdminDailyReservationsTitle {
  font-size: 1.5rem;
  color: $grayLighter7;
  margin: 45px 0;
}

.estadisticasAdminDailyReservationsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: $grayLighter7;
}

.estadisticasAdminDailyReservationsElement {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.estadisticasAdminDailyReservationsElementTitle {
  font-size: 1.1rem;
  margin-bottom: 35px;
  color: $grayDarker20;
}

.estadisticasAdminDailyReservationsElementNumber {
  font-size: 2.25rem;
  margin-bottom: 5px;
  color: $grayDarker10;
}

.estadisticasAdminDailyReservationsElementDetail {
  font-size: 14px;
  margin-bottom: 50px;
  color: $grayDarker21;
}

.estadisticasAdminDailyReservationsSeparator {
  border: 1px solid $grayLighter7;
  height: 75px;
}

.estadisticasAdminNumbersTitle {
  font-size: 2.25rem;
  margin: 40px 0;
  color: $grayLighter7;
}

.estadisticasAdminGeneralNumbersContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.estadisticasAdminGeneralNumbers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $grayLighter7;
  background: #fff;
  border-radius: 10px;

  svg {
    margin-right: 20px;
  }
}

.estadisticasAdminGeneralNumbersSeparator {
  border: 1px solid $grayLighter7;
  height: 75px;
  margin-right: 20px;
}

.estadisticasAdminGeneralNumbersTitle {
  font-size: 1.1rem;
  margin: 0 0 15px 0;
}

.estadisticasAdminGeneralNumbersAmount {
  font-size: 1.5rem;
}

.estadisticasAdminRightSide {
  color: $grayLighter7;
  height: 100%;
}

.estadisticasAdminRightSideTitle {
  font-size: 2.25rem;
  padding: 100px 0 40px 30px;
}

.estadisticasAdminRightSideDetail {
  background: #fff;
  border-radius: 10px;
  margin: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.estadisticasAdminRightSideDetailTitle {
  font-size: 1.1rem;
  margin: 15px 0;
}

.estadisticasAdminRightSideDetailSeparator {
  border: 1px solid $grayLighter10;
  width: 100%;
}

.estadisticasAdminRightSideDetailNumber {
  font-size: 2.25rem;
  margin: 40px 0 0 0;
}

.estadisticasAdminRightSideDetailText {
  font-size: 1.1rem;
}

@media (min-width: 300px) {
  .estadisticasAdminTitle {
    margin: 40px 0;
  }

  .estadisticasAdminPlanesContainer {
    justify-content: center;
  }

  .estadisticasAdminPlan {
    padding: 20px 0;
  }

  .estadisticasAdminGeneralNumbers {
    padding: 20px;
    margin: 10px;
  }

  .estadisticasAdminDailyReservationsElement {
    margin: 10px;
  }

  .estadisticasAdminDailyReservationsSeparator {
    display: none;
  }

  .estadisticasAdminPlanesDetailsTableOfficesAvailability {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .estadisticasAdminTitle {
    margin: 40px 0 40px 70px;
  }

  .estadisticasAdminPlanesContainer {
    justify-content: initial;
  }

  .estadisticasAdminPlan {
    padding: 50px 0;
  }

  .estadisticasAdminGeneralNumbers {
    padding: 20px 70px 20px 30px;
    margin: 20px;
  }

  .estadisticasAdminDailyReservationsElement {
    margin: unset;
  }

  .estadisticasAdminDailyReservationsSeparator {
    display: block;
    margin: 0 20px;
  }

  .estadisticasAdminPlanesDetailsTableOfficesAvailability {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .sideMenuEstadisticasAdmin,
  .panelContentEstadisticasAdmin {
    height: 3800px;
  }
}

@media (min-width: 992px) {
  .sideMenuEstadisticasAdmin,
  .panelContentEstadisticasAdmin {
    height: 2850px;
  }
}

@media (min-width: 1200px) {
  .sideMenuEstadisticasAdmin,
  .panelContentEstadisticasAdmin {
    height: 2350px;
  }
}

@media (min-width: 1400px) {
  .sideMenuEstadisticasAdmin,
  .panelContentEstadisticasAdmin {
    height: 2450px;
  }

  .estadisticasAdminDailyReservationsSeparator {
    margin: 0 100px;
  }
}

@media (min-width: 1680px) {
  .sideMenuEstadisticasAdmin,
  .panelContentEstadisticasAdmin {
    height: 2150px;
  }
}
