.generalContentAdminBody {
  background: #fff !important;
}

.generalContentAdminBodyBlur {
  background: #fff !important;
  filter: blur(4px) !important;
}

.generalAdminTitle {
  font-size: 3rem;
  color: $grayDarker10;
  padding: 0 0 84px 0;
}

.generalAdminTitleMobile {
  font-size: 1.5rem;
  color: $grayDarker10;
  padding: 30px 0 48px 0;
}

.blocksContainerGeneralAdmin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blockGeneralUsuario {
  background: $grayLighter9;
  padding: 30px 20px;
  border-radius: 10px;
  margin: 20px;
  width: 100%;
}

.blockGeneralUsuarioTitleContainer1,
.blockGeneralUsuarioTitleContainer2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  position: relative;
}

.blockGeneralUsuarioTitle {
  font-size: 1.7rem;
  color: $grayDarker10;
  margin: 0;
}

.blockGeneralUsuarioInfoHoverContainer {
  padding: 25px;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top: 75px;
}

.blockGeneralUsuarioInfoHoverContainer::after {
  content: '';
  display: block;
  position: absolute;
  top: -40px;
  right: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  border-bottom: 20px solid #fff;
}

.blockGeneralUsuarioInfoHoverText {
  font-size: 1.1rem;
}

.blockGeneralUsuarioSeparator {
  border-top: 1px solid #989898;
}

.blockGeneralUsuarioContent1 {
  font-size: 1.7rem;
  color: $grayDarker1;
  text-align: center;
}

.blockGeneralUsuarioContent2 {
  font-size: 3rem;
  color: $grayDarker1;
  margin-bottom: 50px;
  text-align: center;
}

.blockGeneralUsuarioButton {
  background: $primary;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 18px 16px;
  width: 100%;
  margin-bottom: 30px;
}

.generalAdminHeader {
  background: $grayDarker12;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -16px;
}

.generalAdminHeaderMoreMargin {
  background: $grayDarker12;
  color: #fff;
  display: flex;
  align-items: center;
  margin: 0 -48px;
}

.generalAdminFooter {
  background: $primary;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 230px -15px 0 -15px;
}

.generalAdminFooterVariant1 {
  @extend .generalAdminFooter;
  margin: 100px -15px 0 -15px !important;
}

.generalAdminFooterVariant2 {
  @extend .generalAdminFooter;
  margin: 180px -15px 0 -15px !important;
}

.generalAdminFooterMoreMargin {
  background: $primary;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 200px -48px 0 -48px;
}

.generalAdminFooterLeft,
.generalAdminHeaderLeft {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  text-align: center;
  flex: 0.75;
}

.generalAdminFooterRight,
.generalAdminHeaderRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px;
  flex: 0.25;
}

.generalAdminFooterLeftFirstText,
.generalAdminHeaderLeftFirstText {
  font-size: 1.5rem;
}

.generalAdminFooterLeftSeparator {
  border-right: 1px solid #fff;
}

.generalAdminHeaderLeftSeparator {
  border: 1px solid #fff;
  height: 60px;
}

.generalAdminFooterSecondText,
.generalAdminHeaderSecondText {
  font-size: 1.1rem;
}

.generalAdminFooterRightButton,
.generalAdminHeaderRightButton {
  background: #00af62;
  color: #fff;
  padding: 18px 16px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.generalAdminSharedPlaceModal,
.generalAdminMeetingsRoomModal,
.generalAdminFinalReservationStepModal {
  background: #fff;
  color: $grayDarker2;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1100;
}

.generalAdminSharedPlaceModalHeader,
.generalAdminMeetingsRoomModalHeader,
.generalAdminFinalReservationStepModalHeader {
  position: relative;
}

.generalAdminSharedPlaceModalHeaderTitle,
.generalAdminMeetingsRoomModalHeaderTitle,
.generalAdminFinalReservationStepModalHeaderTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 0;
  padding: 20px 0;
  color: $grayDarker10;
}

.generalAdminSharedPlaceModalHeaderX,
.generalAdminMeetingsRoomModalHeaderX,
.generalAdminFinalReservationStepModalHeaderX {
  position: absolute;
  right: 30px;
  top: 0;
  padding: 20px 0;
}

.generalAdminSharedPlaceModalBody,
.generalAdminMeetingsRoomModalBody,
.generalAdminFinalReservationStepModalBody {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.generalAdminSharedPlaceModalBodyLeftSide,
.generalAdminMeetingsRoomModalBodyLeftSide,
.generalAdminFinalReservationStepModalBodyLeftSide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.generalAdminSharedPlaceModalBodyLeftSideTitle,
.generalAdminMeetingsRoomModalBodyLeftSideTitle {
  font-size: 1.1rem;
  color: $grayDarker10;
  margin: 85px 0 35px 0;
}

.generalAdminSharedPlaceModalLeftSideAvailability,
.generalAdminMeetingsRoomModalLeftSideAvailability {
  color: $primaryLighter1;
  margin-bottom: 35px;
}

.generalAdminSharedPlaceModalLeftSideHourTitle,
.generalAdminMeetingsRoomModalLeftSideHourTitle,
.generalAdminMeetingsRoomModalBodyRightSideAvailableRoomsTitle {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.generalAdminMeetingsRoomModalBodyRightSideAvailableRoomsTitle {
  margin-top: 100px;
  color: $grayDarker13;
}

.sharedPlaceHourOption,
.meetingsRoomHourOption,
.meetingsRoomAvailableRoomsOption,
.paymentMethodOption {
  font-size: 1.1rem;
  margin: 7.5px 0;
  padding-left: 0 !important;
}

.generalAdminMeetingsRoomModalLeftSideTimeTitle {
  font-size: 1.1rem;
  margin: 35px 0 15px 0;
}

.generalAdminMeetingsRoomModalLeftSideTimeOptions {
  color: $grayLighter4 !important;
  background-color: #fff !important;
  border: 1px solid $grayLighter5 !important;
}

.generalAdminSharedPlaceModalVerticalSeparator {
  height: 275px;
  border: 1px solid $grayLighter5;
  margin: 85px 20px 0 20px;
}

.generalAdminMeetingsRoomModalVerticalSeparator {
  height: 400px;
  border: 1px solid $grayLighter5;
  margin: 85px 20px 0 20px;
}

.generalAdminFinalReservationStepModalVerticalSeparator {
  height: 250px;
  border: 1px solid $grayLighter5;
  margin: 85px 20px 0 20px;
}

.generalAdminSharedPlaceModalBodyRightSide,
.generalAdminMeetingsRoommodalBodyRightSide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
  color: $grayDarker13;
}

.generalAdminFinalReservationStepModalBodyRightSide {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
  color: $grayDarker13;
}

.generalAdminSharedPlaceModalBodyRightSideTitle {
  font-size: 1.1rem;
  margin: 160px 0 20px 0;
}

.generalAdminMeetingsRoomModalBodyRightSideTitle {
  font-size: 1.1rem;
  margin: 55px 0 20px 0;
  color: $grayDarker13;
}

.generalAdminSharedPlaceModalBodyRightSidePrice,
.generalAdminMeetingsRoomModalBodyRightSidePrice,
.generalAdminFinalReservationStepModalBodyRightSidePrice {
  font-size: 1.5rem;
  margin: 0;
}

.generalAdminMeetingsRoomModalBodyRightSidePrice,
.generalAdminFinalReservationStepModalBodyRightSidePrice {
  color: $grayDarker13;
}

.generalAdminSharedPlaceModalBodyButton,
.generalAdminMeetingsRoomModalBodyButton,
.generalAdminFinalReservationStepModalBodyButton {
  background: $primary;
  color: #fff;
  padding: 18px 16px;
  border: none;
  border-radius: 10px;
  margin: 70px 0 0 0;
  width: 230px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.generalAdminFinalReservationStepModalBodyLeftSideSubtotal {
  font-size: 1.1rem;
  margin: 100px 0 20px 0;
  color: $grayDarker13;
}

.generalAdminFinalReservationStepModalBodyLeftSideCouponTitle {
  font-size: 1.1rem;
  margin: 50px 0 20px 0;
}

.generalAdminFinalReservationStepModalBodyLeftSideCoupon {
}

.generalAdminFinalReservationStepModalBodyRightSideTitle {
  font-size: 1.5rem;
  margin: 135px 0 30px 0;
}

.fullStepCircle {
  width: 20px;
  height: 20px;
  background-color: $primary;
  border-radius: 50%;
  margin: 0 5px;
}

.emptyStepCircle {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid $primary;
  margin: 0 5px;
}

.generalAdminModalStepsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 30px 0;
}

.blockGeneralUsuarioHeaderMobile1,
.blockGeneralUsuarioHeaderMobile2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  position: relative;
}

@media (min-width: 300px) {
  .navbarAdminLarger {
    display: none;
  }

  .navbarAdminMobile {
    display: block;
  }

  .generalAdminLarger {
    display: none;
  }

  .generalAdminMobile {
    display: block;
  }

  .generalAdminSharedPlaceModal,
  .generalAdminMeetingsRoomModal,
  .generalAdminFinalReservationStepModal {
    max-width: 100vw;
    padding: 20px 30px;
  }

  .blockGeneralUsuarioContent1 {
    margin: 0;
  }

  .generalAdminHeader,
  .generalAdminFooter {
    display: none;
  }

  .generalAdminHeaderMoreMargin {
    justify-content: center;
  }

  .generalAdminHeaderLeft {
    flex-direction: column;
  }

  .generalAdminHeaderLeftFirstText,
  .generalAdminHeaderSecondText {
    margin: 0;
  }

  .generalAdminFooterMoreMargin {
    flex-direction: column;
  }

  .generalAdminFooterLeft {
    flex-direction: column;
  }

  .generalAdminFooterLeftFirstText {
    margin: 0;
  }

  .generalAdminFooterSecondText {
    margin: 0;
  }
}

@media (min-width: 576px) {
  .generalAdminSharedPlaceModal,
  .generalAdminMeetingsRoomModal,
  .generalAdminFinalReservationStepModal {
    padding: 70px 100px;
  }

  .blockGeneralUsuarioContent1 {
    margin: 60px 0px 30px 0px;
  }

  .generalAdminHeader,
  .generalAdminFooter {
    display: flex;
  }

  .generalAdminHeaderMoreMargin {
    justify-content: space-between;
  }

  .generalAdminHeaderLeft {
    flex-direction: row;
  }

  .generalAdminHeaderLeftFirstText {
    margin-right: 50px;
  }

  .generalAdminHeaderSecondText {
    margin-left: 50px;
  }

  .generalAdminFooterLeft {
    flex-direction: row;
  }

  .generalAdminFooterLeftFirstText {
    margin: 0 75px 0 0;
  }

  .generalAdminFooterSecondText {
    margin: 0 0 0 50px;
  }
}

@media (min-width: 768px) {
  .generalAdminLarger {
    display: block;
  }

  .generalAdminMobile {
    display: none;
  }

  .generalAdminFooterMoreMargin {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .navbarAdminLarger {
    display: block;
  }

  .navbarAdminMobile {
    display: none;
  }

  .generalAdminSharedPlaceModal {
    width: 35vw;
  }

  .generalAdminMeetingsRoomModal,
  .generalAdminFinalReservationStepModal {
    width: 50vw;
  }
}

@media (min-width: 1200px) {
  .blocksContainerGeneralAdmin {
    flex-wrap: nowrap;
  }

  .blockGeneralUsuario {
    max-width: 450px;
  }
}

@media (min-width: 1400px) {
}
