.homeHeaderContent {
  position: relative;
  z-index: 50;
  color: #fff;
  padding-left: 50px;
  width: 700px;
  height: 100%;
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%22707%22%20height%3D%221037%22%20viewBox%3D%220%200%20707%201037%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M707%200C707%20572.749%20390.485%201037%200%201037V0H707Z%22%20fill%3D%22%23004B2A%22%2F%3E%0A%3C%2Fsvg%3E');
  background-size: 100%;
}

.welcomeTitle {
  padding-top: 150px;
}

.welcomeTitle,
.welcomeSubtitle,
.welcomeText,
.welcomeButton {
  color: #fff;
  max-width: 500px;
}

.welcomeButtonExtraMargin {
  margin-bottom: 3rem;
}

.welcomeTitleMobile,
.welcomeSubtitleMobile,
.welcomeTextMobile {
  color: #fff;
  position: relative;
}

.welcomeTitleMobile {
  margin: 20px 0 30px 30px;
}

.welcomeSubtitleMobile {
  margin: 0 0 15px 30px;
}

.welcomeTextMobile {
  margin: 0 0 0 30px;
}

.welcomeSubtitle,
.welcomeText,
.welcomeButton {
  font-size: 1.1rem;
}

.welcomeSubtitle {
  margin: 53px 0 20px 0;
}

.welcomeText {
  margin-bottom: 70px;
}

.welcomeButton {
  background-color: #fff;
  color: $primary;
  padding: 1rem 3rem;
  border: none;
  border-radius: 10px;
  transition: 0.5s all ease;
}

.welcomeButton:hover {
  background-color: $primaryLighter4;
  color: #fff;
}

.welcomeButton:focus {
  background: $primary;
  color: #fff;
}

.welcomeContainerMobile {
  background: #fff;
  color: #000;
  height: 50vh;
  position: relative;
  overflow: hidden;
}

.welcomeContainerMobileSVG {
  position: absolute;
  width: 100%;
  height: 400px;
  transform: scaleX(2.5);
}

.welcomeContainerMobileContent {
  text-align: left;
}

.plansContainerHomePreviousSeparator {
  height: 50px;
  width: 100%;
  background-color: $secondary;
}

.plansContainerHome {
  position: relative;
  z-index: 3;
  background-color: $primary;
  color: #fff;
  overflow: hidden;
}

.plansTitle {
  text-align: center;
  margin: 0;
  padding: 105px 0 10px 0;
  position: relative;
  z-index: 2;
}

.plansSubtitle {
  text-align: center;
  padding-bottom: 170px;
  margin: 0;
  font-size: 1.5rem;
  position: relative;
  z-index: 2;
}

.plansContainerMobile {
  position: relative;
  margin-top: 150px 0 30px 0;
  padding-left: 20px;
}

.plansTitleMobile {
  color: $secondary;
  font-size: 2.5rem;
  margin: 20px 0;
}

.meetingsContainer {
  position: relative;
  z-index: 2;
}

.eventsContainerCarousel {
  @extend .meetingsContainer;
  height: calc(75vh - 50px);
}

.meetingsContainerMobile {
  color: #fff;
}

.meetingsContainerMobile,
.eventsContainerMobile {
  background-color: $secondary;
}

.roomsContainer {
  position: relative;
  color: #fff;
  margin-top: -700px;
  height: 85vh;
  background-image: url('data:image/svg+xml,  %3Csvg%20width%3D%22939%22%20height%3D%22721%22%20viewBox%3D%220%200%20939%20721%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M-491%20721H223.964C618.81%20721%20938.928%20398.179%20938.928%200H223.964C-170.882%200%20-491%20322.821%20-491%20721Z%22%20fill%3D%22%23FF972F%22%2F%3E%0A%3C%2Fsvg%3E%0A');
  background-size: cover;
  background-repeat: no-repeat;
}

.roomsTitle {
  font-size: 3.5rem;
  padding: 66px 0 25px 140px;
  max-width: 700px;
  margin: 0;
}

.roomsTitleMobile {
  padding: 30px 0 15px 0;
}

.roomsSubtitle {
  font-size: 1.5rem;
  padding: 0 0 25px 140px;
  max-width: 700px;
}

.roomsSubtitleMobile {
  margin-top: 15px;
}

.roomsContent1 {
  font-size: 1.1rem;
  padding: 0 0 25px 140px;
  max-width: 700px;
}

.roomsContent1Mobile {
  padding-bottom: 30px;
}

.roomsContent2 {
  font-size: 1.1rem;
  padding: 0 0 36px 140px;
  max-width: 700px;
}

.roomsButton,
.eventsButton {
  border: 2px solid #fff;
  background: none;
  border-radius: 8px;
  margin-left: 140px;
  padding: 0 140px;
  color: #fff;
  width: 400px;
  font-size: 1.1rem;
}

.servicesContainer {
  background: $primary;
  position: relative;
  z-index: 3;
  margin-top: -60px;
}

.servicesContainerMiddle {
  margin-top: -20px;
  background: $primary;
  padding-bottom: 50px;
  position: relative;
  z-index: 3;
}

.servicesContainerMobile {
  margin-top: -20px;
}

.servicesSection {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.servicesSectionMobile {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.servicesTitle {
  color: #fff;
  text-align: left;
  padding-top: 240px;
  margin-bottom: 50px;
}

.servicesTitleMiddle {
  color: #fff;
  text-align: left;
  padding: 50px 0;
}

.servicesTitleMobile {
  font-size: 2.25rem;
  color: $grayDarker5;
  padding: 50px 0;
}

.servicesDropdownMenu {
  border-bottom: 1px solid $grayDarker5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 100%;
  cursor: pointer;

  button,
  p {
    margin-bottom: 15px;
  }
}

.servicesDropdownMenuButton {
  border: none;
  background: none;
  color: $grayDarker5;
  font-weight: 600;
  margin: 15px 0;
}

.servicesDropdownMenuMiddle {
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 100%;
  cursor: pointer;

  button,
  p {
    margin-bottom: 15px;
  }
}

.servicesDropdownMenuButtonMiddle {
  border: none;
  background: none;
  color: #fff;
  font-weight: 600;
}

.eventsContainer {
  position: relative;
  color: #fff;
  height: 80vh;
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%22933%22%20height%3D%22736%22%20viewBox%3D%220%200%20933%20736%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M1459.68%20736H729.839C326.779%20736%200.000366211%20406.463%200.000366211%200H729.839C1132.9%200%201459.68%20329.537%201459.68%20736Z%22%20fill%3D%22%23FF972F%22%2F%3E%0A%3C%2Fsvg%3E%0A');
  background-size: cover;
  background-repeat: no-repeat;
  margin: -680px 0 0 calc(100% - 935px) !important;
}

.eventsContainerMobile {
  color: #fff;
}

.eventsSVGContainer {
  position: absolute;
  right: 0;
  top: -50px;
}

.eventsTitle {
  font-size: 3.5rem;
  padding: 66px 0 25px 0;
  margin: 0 0 0 190px;
  max-width: 500px;
}

.eventsTitleMobile {
  margin-bottom: 0;
  width: 100%;
  padding: 30px 0 15px 0;
}

.eventsSubtitle {
  font-size: 1.1rem;
  padding: 0 0 25px 0;
  max-width: 500px;
  margin: 0 0 0 190px;
}

.eventsSubtitleMobile {
  width: 100%;
  padding-bottom: 15px;
}

.eventsContent1 {
  font-size: 1.1rem;
  padding: 0 0 80px 0;
  max-width: 500px;
  margin: 0 0 0 190px;
}

.eventsContent1Mobile {
  font-size: 1.1rem;
  margin: 0;
  padding: 0 0 40px 0;
  width: 100%;
}

.eventsButton {
  margin: 0 0 0 190px;
}

.communityTitle {
  color: $primary;
  text-align: left;
  padding: 122px 0 40px 0;
  margin: 0;
}

.communityTitleBenefits {
  color: $primary;
  font-size: 2.25rem;
  margin: 80px 0 50px 0;
}

.communityContainer {
  position: relative;
  margin-bottom: 100px;
  z-index: 3;
  background-color: #fff;
}

.communitySeeMoreButton {
  background: #fff;
  border: 1px solid $primary;
  color: $primary;
  font-size: 1.1rem;
  border-radius: 15px;
  padding: 18px 100px;
  position: absolute;
  margin: 86px 0;
  transition: 0.5s all ease;
}

.communitySeeMoreButton:hover {
  background-color: $primaryLighter4;
  color: #fff;
}

.communitySeeMoreButton:focus {
  background: $primary;
  color: #fff;
}

.strategicPlaceContainer {
  background-color: $primary;
  margin-top: 236px;
  position: relative;
  z-index: 3;
}

.strategicPlaceContainerMobile {
  position: relative;
  width: 100%;
  background-color: $primary;
  margin-top: 200px;
}

.strategicPlaceLogoContainer {
  color: #fff;
  margin-bottom: 90px;
}

.strategicPlaceLogoContainerMobile {
  color: #fff;
  margin-bottom: 0;
}

.locationText {
  font-size: 1.5rem;
}

.locationSubtext {
  font-size: 1.1rem;
  font-style: italic;
}

.strategicPlaceLogo {
  width: 40px !important;
  height: 54px !important;
  margin-right: 30px;
}

.strategicPlaceTitle {
  color: #fff;
  text-align: left;
  padding: 64px 0 80px 0;
}

.ratingContainer {
  background: $grayLighter2;
  color: $grayDarker5;
  position: relative;
  overflow: hidden;
}

.ratingContainerMobile {
  background-color: $secondary;
  color: #fff;
}

.ratingContainerMargin {
  margin-left: 40px;
}

.ratingContent {
  padding: 50px 0;
}

.opinionTitle {
  font-size: 1.5rem;
}

.opinionSubtitle {
  font-size: 1.1rem;
  margin: 0;
  padding-bottom: 40px;
}

.opinionSubtitleMobile {
  padding: 30px 0 15px 0;
}

.opinionContent1 {
  font-size: 1.1rem;
  padding: 0 0 40px 0;
  margin: 0;
}

.opinionContent1Mobile {
  font-size: 1.1rem;
  margin: 0;
  padding: 0 0 40px 0;
}

.opinionContainer {
  background-color: #fff;
  border-radius: 15px;
  padding: 1rem;
  color: $grayLighter7;
  margin-bottom: 24px;
}

.opinionContainerMobile {
  @extend .opinionContainer;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.ratingUserPhoto {
  width: 100px;
}

.opinionName {
  margin: 20px 0 10px 0 !important;
  font-size: 1rem;
}

.opinionCalification {
  margin: 10px 0 !important;
}

.opinionDetail {
  margin: 10px 0 20px 0 !important;
  font-size: 0.8rem;
}

.consultSVGContainer {
  right: -15px;
  top: -50px;
  z-index: 2;
}

.consultContainer {
  position: relative;
  color: #fff;
  height: 100%;
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%22933%22%20height%3D%22736%22%20viewBox%3D%220%200%20933%20736%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M1459.68%20736H729.839C326.779%20736%200.000366211%20406.463%200.000366211%200H729.839C1132.9%200%201459.68%20329.537%201459.68%20736Z%22%20fill%3D%22%23FF972F%22%2F%3E%0A%3C%2Fsvg%3E%0A');
  background-size: cover;
  margin: -10px 0 0 0 !important;
  right: -70px;
}

.consultContainerMobile {
  background: $primary;
}

.consultTitle {
  font-size: 2.25rem;
  padding: 20px 0 20px 0;
  margin: 0 0 0 230px;
}

.consultTitleMobile {
  font-size: 2.25rem;
  margin: 0;
  padding: 50px 0 40px 0;
}

.consultSeparator {
  border-top: 1px solid #e5e5e5;
  position: absolute;
  margin: 0 0 0 230px;
  margin-bottom: 40px;
}

.consultDataContainer {
  margin: 0 0 0 230px !important;
}

.input-prefix {
  left: 0 !important;
}

.consultEmail {
  max-width: 270px !important;
}

.consultEmailLabel {
  color: #fff !important;
}

.consultSelect {
  max-width: 270px !important;
}

.consultLabel {
  margin-bottom: 15px;
  font-size: 1.1rem;
}

.consultInput {
  max-width: 270px !important;
  margin: 0 0 0 230px;
}

.mdb-select {
  background: transparent;
  border: none;
  color: #fff;
}

.consultButton {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 20px 0 0 230px;
  width: 270px;
  font-size: 14px;
  transition: 0.5s all ease;
}

.consultButtonMobile {
  background: $secondary;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 50px;
  width: 100%;
  transition: 0.5s all ease;
}

.consultButton:hover,
.consultButton:focus {
  background-color: #fff;
  color: $secondary;
}

.consultButtonMobile:hover {
  background-color: $grayLighter13;
  color: $secondary;
}

.consultButtonMobile:focus {
  background: #fff;
  color: $secondary;
}

.partnersContainer {
  background-color: $grayLighter2;
  position: relative;
  padding-top: 126px;
}

.partnersContainerMiddle {
  @extend .partnersContainer;
}

.partnersContainerMobile {
  @extend .partnersContainer;
  top: 0;
}

.partnersTitle {
  color: $primaryDarker;
  padding: 90px 0;
  margin: 0;
  color: $secondary;
  font-size: 3rem;
}

.md-form input:not([type]):focus:not([readonly]),
.md-form input[type='text']:not(.browser-default):focus:not([readonly]),
.md-form input[type='password']:not(.browser-default):focus:not([readonly]),
.md-form input[type='email']:not(.browser-default):focus:not([readonly]),
.md-form input[type='url']:not(.browser-default):focus:not([readonly]),
.md-form input[type='time']:not(.browser-default):focus:not([readonly]),
.md-form input[type='date']:not(.browser-default):focus:not([readonly]),
.md-form input[type='datetime']:not(.browser-default):focus:not([readonly]),
.md-form input[type='datetime-local']:not(.browser-default):focus:not([readonly]),
.md-form input[type='tel']:not(.browser-default):focus:not([readonly]),
.md-form input[type='number']:not(.browser-default):focus:not([readonly]),
.md-form input[type='search']:not(.browser-default):focus:not([readonly]),
.md-form input[type='phone']:not(.browser-default):focus:not([readonly]),
.md-form input[type='search-md']:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $grayDarker8;
  box-shadow: 0 1px 0 0 $primaryDarker;
  color: $grayDarker8 !important;
  box-shadow: 0 1px 0 0 $grayDarker8 !important;
}

.input-prefix {
  color: #fff !important;

  &.active {
    color: $primaryDarker !important;
  }
}

.consultEmailLabel {
  color: #fff !important;
}

.backgroundSVGHome1 {
  position: absolute;
  right: calc(100% - 110vw);
  top: 100px;
}

.backgroundSVGHome2 {
  position: absolute;
  left: calc(100% - 108vw);
  margin-top: 20vh;
}

.backgroundSVGHome3 {
  position: absolute;
  right: 0;
  right: calc(100% - 90vw);
  margin-top: 10vh;
}

.backgroundSVGHomeMobile1 {
  position: absolute;
  right: 0;
  top: -20%;
}

.sliderImageWithOffset {
  position: relative;
  right: -25px;
}

.carousel img {
  width: unset !important;
}

.carousel-control-next-icon {
  width: 100px !important;
  height: 100px !important;
}

.servicesContainerMiddle {
  .customContainer {
    .servicesSection {
      .serviceContainer {
        flex-basis: 100% !important;
        margin: 0 0 30px 0 !important;
        justify-content: flex-start !important;
      }
    }
  }
}

@media (min-width: 300px) {
  .backgroundIndexMobile {
    display: block;
  }

  .navbarMobile {
    .leftSVGNavbar {
      display: none;
    }
  }

  .welcomeContainerMobileSVG {
    left: 0;
  }

  .welcomeContainerMobileContent {
    width: 90%;
  }

  .welcomeTitleMobile {
    font-size: 1rem;
  }

  .welcomeSubtitleMobile,
  .welcomeTextMobile {
    font-size: 14px;
  }

  .roomsTitleMobile,
  .eventsTitleMobile,
  .strategicPlaceTitle,
  .communityTitle {
    font-size: 2.25rem;
  }

  .strategicPlaceTitle {
    margin-bottom: 0;
  }

  .plansContainerHome,
  .meetingsContainer,
  .eventsContainer,
  .servicesContainer,
  .servicesContainerMiddle,
  .strategicPlaceContainer,
  .ratingContainer,
  .consultContainer,
  .consultSVGContainer,
  .partnersContainer,
  .partnersContainerMiddle {
    display: none;
  }

  .plansContainerMobile,
  .meetingsContainerMobile,
  .eventsContainerMobile,
  .servicesContainerMobile,
  .strategicPlaceContainerMobile,
  .ratingContainerMobile,
  .consultContainerMobile,
  .partnersContainerMobile,
  .welcomeContainerMobile {
    display: block;
  }

  .communityContainer {
    margin-top: 0;
  }

  .opinionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .opinionInformation {
    margin-left: 0;
  }

  .partnersLogos {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 245px;
  }

  .backgroundSVGHome1,
  .backgroundSVGHome2,
  .backgroundSVGHome3 {
    display: none;
  }

  .communitySeeMoreButton {
    right: unset;
    width: 90%;
  }

  .plansContainerHomePreviousSeparator {
    display: none;
  }

  .consultSelect {
    margin: 15px 0 15px 0 !important;
  }

  .consultLabel,
  .consultInput {
    margin: 0;
  }
}

@media (min-width: 576px) {
  .welcomeContainerMobileSVG {
    left: -10%;
  }

  .welcomeContainerMobileContent {
    width: 80%;
  }

  .welcomeTitle {
    font-size: 2rem;
  }

  .welcomeTitleMobile {
    font-size: 1.5rem;
  }

  .welcomeSubtitleMobile,
  .welcomeTextMobile {
    font-size: 1rem;
  }

  .communityTitle {
    font-size: 3rem;
  }

  .communitySeeMoreButton {
    width: 380px;
  }

  .roomsTitleMobile,
  .eventsTitleMobile,
  .servicesTitle,
  .servicesTitleMiddle,
  .servicesTitle,
  .servicesTitleMiddleMiddle {
    font-size: 4.5rem;
  }

  .strategicPlaceTitle {
    font-size: 3rem;
  }

  .partnersContainerMobile {
    display: none;
  }

  .partnersContainerMiddle {
    display: block;
  }

  .opinionContainer {
    flex-direction: row;
    justify-content: flex-start;
  }

  .opinionInformation {
    margin-left: 2rem;
  }
}

@media (min-width: 768px) {
  .welcomeContainerMobileSVG {
    left: -17%;
  }

  .welcomeContainerMobileContent {
    width: 60%;
  }

  .welcomeTitle {
    font-size: 4rem;
  }

  .plansTitle,
  .servicesTitle,
  .servicesTitleMiddle {
    font-size: 4.5rem;
  }

  .servicesContainerMiddle {
    display: block;
  }

  .servicesContainerMobile {
    display: none;
  }

  .partnersLogos {
    flex-direction: row;
  }

  .communitySeeMoreButton {
    right: 15px;
  }
}

@media (min-width: 992px) {
  .backgroundIndexMobile {
    display: none;
  }

  .navbarMobile {
    .leftSVGNavbar {
      display: block;
    }
  }

  .welcomeContainerMobileSVG {
    left: -25%;
  }

  .welcomeContainerMobileContent {
    width: 50%;
  }

  .plansContainerHome,
  .eventsContainer,
  .servicesContainerMiddle,
  .strategicPlaceContainer,
  .consultContainer,
  .consultSVGContainer,
  .partnersContainerMiddle {
    display: block;
  }

  .plansContainerMobile,
  .eventsContainerMobile,
  .strategicPlaceContainerMobile,
  .partnersContainerMobile,
  .welcomeContainerMobile {
    display: none;
  }

  .backgroundSVGHome1,
  .backgroundSVGHome2,
  .backgroundSVGHome3 {
    display: block;
  }

  .plansContainerHomePreviousSeparator {
    display: block;
  }

  .meetingsContainer {
    height: 75vh;
  }
}

@media (min-width: 1200px) {
  .roomsContainer {
    width: 80%;
    right: 5%;
  }

  .eventsContainer {
    width: 80%;
    left: 10%;
  }

  .communityContainer {
    margin-top: -60px;
  }

  .ratingContainer,
  .meetingsContainer {
    display: block;
  }

  .ratingContainerMobile,
  .meetingsContainerMobile {
    display: none;
  }

  .consultContainerMobile {
    display: none;
  }

  .consultSelect {
    margin: 15px 0 15px 230px !important;
  }

  .consultLabel,
  .consultInput {
    margin: 0 0 0 230px;
  }
}

@media (min-width: 1400px) {
  .navbarMobile {
    .leftSVGNavbar {
      display: none;
    }
  }

  .roomsContainer,
  .eventsContainer {
    width: 65%;
  }

  .servicesContainer,
  .partnersContainer {
    display: block;
  }

  .partnersContainerMiddle,
  .partnersContainerMobile,
  .servicesContainerMiddle {
    display: none;
  }

  .consultContainer {
    margin-top: -30px;
    margin-left: 90px;
  }
}

@media (min-width: 1600px) {
  .roomsContainer,
  .eventsContainer {
    width: 60%;
    height: 82vh;
  }

  .consultContainer {
    margin-left: 230px;
  }
}
