.plansSection {
  background-color: $primaryDarker;
  color: #fff;
}

.plansTitle {
  text-align: center;
  margin: 0;
}

.plansSubtitle {
  text-align: center;
  padding-bottom: 3.1rem;
  font-size: 1.5rem;
}

.plansContainer {
  padding-bottom: 10.8rem;
}

.meetingsContainer {
  color: #fff;
  position: relative;
  top: -50px;
  z-index: 2;
  width: 100%;
  background-position: center;
  height: 70vh;
  background-repeat: no-repeat;
}

.meetingsContainerMobile {
  @extend .meetingsContainer;
  top: 0;
  height: 75vh;
}

.meetingsContainerMobile,
.eventsContainerMobile {
  background-color: $secondary;
}

.roomsContainer {
  position: relative;
  color: #fff;
  top: -80px;
}

.roomsTitle {
  font-size: 4.5rem;
  width: 45%;
  padding: 60px 0 50px 100px;
}

.roomsTitleMobile {
  top: 80px;
  left: 100px;
  margin-bottom: 0;
  width: 100%;
  padding-top: 80px;
}

.roomsSubtitle {
  font-size: 1.5rem;
  width: 45%;
  padding: 0 0 25px 100px;
}

.roomsSubtitleMobile {
  @extend .roomsSubtitle;
  width: 100%;
  padding: 0 0 25px 0;
}

.roomsContent1 {
  font-size: 1.1rem;
  width: 45%;
  padding: 0 0 25px 100px;
}

.roomsContent1Mobile {
  @extend .roomsContent1;
  width: 100%;
  padding: 0 0 25px 0;
}

.roomsContent2 {
  font-size: 1.1rem;
  width: 45%;
  padding: 0 0 40px 100px;
}

.roomsContent2Mobile {
  @extend .roomsContent2;
  width: 100%;
  padding: 0 0 40px 0;
}

.roomsButton,
.eventsButton {
  border: 2px solid #fff;
  background: none;
  border-radius: 15px;
  margin-left: 100px;
  padding: 0 100px;
  color: #fff;
}

.roomsButtonMobile,
.eventsButtonMobile {
  @extend .roomsButton;
  padding: 1rem 15rem;
  margin-left: 0;
  left: unset;
}

.servicesContainer {
  position: relative;
  top: -65px;
  background: $primaryDarker;
}

.servicesContainerMobile {
  position: relative;
  background: $primaryDarker;
}

.servicesSection {
  background-color: $primaryDarker;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.servicesTitle {
  color: #fff;
  text-align: left;
  padding-top: 172px;
  margin-bottom: 70px;
}

.eventsContainer {
  position: relative;
  color: #fff;
  top: -65px;
  z-index: 2;
  width: 100%;
  height: 65vh;
}

.eventsContainerMobile {
  @extend .eventsContainer;
  top: 0;
  height: 75vh;
}

.eventsSVGContainer {
  position: absolute;
  right: 0;
  top: -50px;
}

.eventsContainerContent {
  position: absolute;
  color: #fff;
}

.eventsTitle {
  font-size: 4.5rem;
  padding: 0 0 50px 0;
  margin: 0;
}

.eventsTitleMobile {
  margin-bottom: 0;
  width: 100%;
  padding: 148px 0 50px 0;
}

.eventsSubtitle {
  font-size: 1.5rem;
  padding: 0 0 25px 0;
  margin: 0;
}

.eventsSubtitleMobile {
  @extend .eventsSubtitle;
  width: 100%;
  padding: 0 0 25px 0;
}

.eventsContent1 {
  font-size: 1.1rem;
  padding: 0 0 40px 0;
  margin: 0;
}

.eventsContent1Mobile {
  @extend .eventsContent1;
  padding: 0 0 40px 0;
  width: 100%;
}

.eventsButton {
  margin-left: 0;
}

.strategicPlaceContainer {
  position: relative;
  top: -65px;
  width: 100%;
  background-color: $primaryDarker;
}

.strategicPlaceContainerMobile {
  @extend .strategicPlaceContainer;
  top: 0;
}

.strategicPlaceLogoContainer {
  margin-bottom: 86px;
  color: #fff;
}

.locationTitle {
  margin-bottom: 10px !important;
}

.strategicPlaceLogo {
  margin-right: 30px;
}

.fakeMap {
  width: 100%;
  height: 100%;
  background-color: #cecece;
}

.ratingContainer {
  position: relative;
  top: -65px;
  width: 100%;
  background-color: $secondary;
  color: #fff;
}

.ratingContainerMobile {
  @extend .ratingContainer;
  top: 0;
}

.ratingContent {
  padding: 100px 0;
}

.opinionContainer {
  background-color: #fff;
  color: #000;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  align-items: center;

  p {
    margin-bottom: 0;
  }
}

.ratingUserPhoto {
  width: 100px;
}

.opinionName {
  margin: 20px 0 10px 0 !important;
  color: #9f9d9b;
  font-size: 1rem;
}

.opinionCalification {
  margin: 10px 0 !important;
}

.opinionDetail {
  margin: 10px 0 20px 0 !important;
  color: #9f9d9b;
  font-size: 1rem;
}

.strategicPlaceTitle {
  color: #fff;
  text-align: left;
  padding-top: 90px;
  margin-bottom: 50px;
}

.consultSVGContainer {
  position: absolute;
  left: 50px;
  top: -50px;
  z-index: 2;
}

.consultContainer,
.consultContainerMobile {
  position: relative;
  color: #fff;
  z-index: 3;
  top: -20px;
}

.consultContainerMobile {
  background: $primaryDarker;
}

.consultTitle {
  font-size: 2.25rem;
  // padding: 10px 0 40px 0;
  padding-bottom: 40px;
  margin: 0;
}

.consultTitleMobile {
  @extend .consultTitle;
  padding: 50px 0 40px 0;
}

.consultSeparator {
  border-top: 1px solid #e5e5e5;
  width: 50%;
  position: absolute;
  margin: 0;
  margin-bottom: 40px;
}

.input-prefix {
  left: 0 !important;
}

.consultEmail {
  margin-bottom: 30px !important;
}

.consultEmail,
#consultContent {
  width: 50%;
}

.consultEmailMobile {
  width: 100% !important;
}

.consultSelect {
  margin-bottom: 30px !important;
}

.consultLabel {
  margin-bottom: 15px;
}

.consultInput {
  // margin-bottom: 40px;
}

.consultImputMobile {
  width: 100% !important;
}

.mdb-select {
  background: transparent;
  border: none;
  color: #fff;
}

.consultButton {
  background: #fff;
  color: $primaryDarker;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  width: 50%;
}

.consultButtonMobile {
  @extend .consultButton;
  margin-bottom: 50px;
  width: 100%;
}

.communityTitle {
  color: $primaryDarker;
  text-align: left;
  padding-top: 10.8rem;
  margin-bottom: 3rem !important;
  font-size: 3rem;
}

.communityContainer {
  position: relative;
  top: -65px;
  margin-bottom: 100px;
}

.communityContainerMobile {
  @extend .communityContainer;
  top: 0;
}

.card {
  margin: 15px;
}

.cardHorizontal {
  @extend .card;
  display: flex;
  flex-direction: row !important;
}

.horizontalArticle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4e3e3;
  margin: 1rem 3rem;

  p {
    padding: 1rem;
  }
}

.horizontalArticleImage {
  height: 340px;
  width: 340px;
}

.partnersContainer {
  background-color: #cecece;
  position: relative;
  top: -65px;
}

.partnersContainerMobile {
  @extend .partnersContainer;
  top: 0;
}

.partnersTitle {
  color: $primaryDarker;
  padding-top: 3.1rem;
  padding-bottom: 2rem;
}

.partnersDetail {
  margin: 0;
  padding-bottom: 4.7rem;
}

.md-form input:not([type]):focus:not([readonly]),
.md-form input[type='text']:not(.browser-default):focus:not([readonly]),
.md-form input[type='password']:not(.browser-default):focus:not([readonly]),
.md-form input[type='email']:not(.browser-default):focus:not([readonly]),
.md-form input[type='url']:not(.browser-default):focus:not([readonly]),
.md-form input[type='time']:not(.browser-default):focus:not([readonly]),
.md-form input[type='date']:not(.browser-default):focus:not([readonly]),
.md-form input[type='datetime']:not(.browser-default):focus:not([readonly]),
.md-form input[type='datetime-local']:not(.browser-default):focus:not([readonly]),
.md-form input[type='tel']:not(.browser-default):focus:not([readonly]),
.md-form input[type='number']:not(.browser-default):focus:not([readonly]),
.md-form input[type='search']:not(.browser-default):focus:not([readonly]),
.md-form input[type='phone']:not(.browser-default):focus:not([readonly]),
.md-form input[type='search-md']:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}

.input-prefix {
  color: #fff !important;

  &.active {
    color: $secondary !important;
  }
}

.consultEmailLabel {
  color: #fff !important;
}

@media (min-width: 300px) {
  .plansTitle {
    padding: 8rem 0 1.85rem 0;
  }

  .roomsTitleMobile,
  .eventsTitleMobile {
    font-size: 2.75rem;
  }

  .meetingsContainer,
  .eventsContainer,
  .servicesContainer,
  .strategicPlaceContainer,
  .ratingContainer,
  .consultContainer,
  .consultSVGContainer,
  .partnersContainer {
    display: none;
  }

  .meetingsContainerMobile,
  .eventsContainerMobile,
  .servicesContainerMobile,
  .strategicPlaceContainerMobile,
  .ratingContainerMobile,
  .consultContainerMobile,
  .partnersContainerMobile {
    display: block;
  }

  .ratingContent {
    margin-left: 0;
  }

  .opinionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 270px;
  }

  .opinionInformation {
    margin-left: 0;
  }
}

@media (min-width: 576px) {
  .plansTitle {
    padding: 7.5rem 0 1.85rem 0;
    font-size: 2.75rem;
  }

  .roomsTitleMobile,
  .eventsTitleMobile,
  .servicesTitle {
    font-size: 4.5rem;
  }

  .opinionContainer {
    flex-direction: row;
    justify-content: flex-start;
    width: 540px;
  }

  .opinionInformation {
    margin-left: 2rem;
  }
}

@media (min-width: 768px) {
  .plansTitle,
  .servicesTitle {
    font-size: 4.5rem;
  }

  .opinionContainer {
    width: 730px;
  }
}

@media (min-width: 992px) {
  .eventsTitle,
  .eventsSubtitle,
  .eventsContent1 {
    width: 50%;
  }

  .meetingsContainer,
  .eventsContainer,
  .servicesContainer,
  .strategicPlaceContainer,
  .consultContainer,
  .consultSVGContainer,
  .partnersContainer {
    display: block;
  }

  .meetingsContainerMobile,
  .eventsContainerMobile,
  .servicesContainerMobile,
  .strategicPlaceContainerMobile,
  .partnersContainerMobile {
    display: none;
  }

  .eventsContainerContent {
    left: calc(100vw - (100vw - 40%));
  }

  .consultContainer {
    left: calc(100vw - (100vw - 30%));
  }

  .consultSVGContainer {
    left: -50px;
  }
}

@media (min-width: 1200px) {
  .ratingContainer {
    display: block;
  }

  .ratingContainerMobile {
    display: none;
  }

  .consultContainerMobile {
    display: none;
  }

  .ratingContent {
    margin-left: 50px;
  }

  .eventsContainerContent {
    left: calc(100vw - (100vw - 50%));
  }

  .consultContainer {
    left: calc(100vw - (100vw - 30%));
  }
}

@media (min-width: 1400px) {
  .eventsTitle,
  .eventsSubtitle,
  .eventsContent1 {
    width: 100%;
  }

  .eventsContainerContent {
    left: calc(100vw - (100vw - 60%));
  }

  .consultContainer {
    left: calc(100vw - (100vw - 30%));
  }

  .consultSVGContainer {
    left: 50px;
  }
}
