.loginTitle {
  color: #4f4949;
  font-size: 3rem;
  margin: 100px 0;
  text-align: center;
}

.inputIconOrange {
  color: $secondary !important;
}

.loginButton {
  background: $secondary;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  width: 100%;
  margin-bottom: 20px;
}

.loginButtonCenter {
  @extend .loginButton;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

.consultEmailLogin,
.consultPasswordLogin {
  margin-bottom: 50px !important;
}

.loginSeparator {
  height: 300px;
  border-left: 2px solid #e9e8e8;
}

.loginSubtitle {
  font-size: 1.5rem;
  color: #4f4949;
  margin-left: 65px;
}

.loginIconsContainer {
  display: flex;
  align-items: center;
  margin: 100px 0 0 65px;
}

.backgroundSVGLogin {
  position: absolute;
  top: -50%;
  left: 20%;
}

.seePassword {
  position: absolute;
  top: 3px;
  right: 0;
}

@media (min-width: 300px) {
  .loginContainer {
    margin: 120px 1rem 220px 1rem;
  }

  .backgroundSVGLogin {
    display: none;
  }

  .loginSeparator {
    display: none;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .loginContainer {
    margin: 120px 2rem 220px 2rem;
  }

  .loginSeparator {
    display: block;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .backgroundSVGLogin {
    display: block;
  }
}

@media (min-width: 1440px) {
}
