.officesHeaderContent {
  position: relative;
  z-index: 100;
  color: #fff;
  top: 20%;
  margin-left: 6.55rem;
  width: 500px;
}

.officesTitle,
.officesSubtitle,
.officesText {
  z-index: 100;
  color: #fff;
}

.officesTitle {
  font-size: 4rem;
  margin-bottom: 20px;
}

.officesSubtitle {
  font-size: 1.5rem;
}

.officesText {
  font-size: 1.1rem;
}

.roomsDescriptionTitle {
  color: $secondary;
  font-size: 1.5rem;
  margin: 45px 0 20px 0;
}

.roomsDescriptionText {
  font-size: 1.1rem;
}

.officesReservationContainer {
  display: flex;
  flex-direction: column;
  margin: 228px 0 450px 0;
}

.officesReservationTitle {
  font-size: 2.25rem;
  color: $secondary;
  margin-bottom: 54px;
}

.officesReservationInput {
  margin: 0 14px 0 0 !important;
}

.officesReservationButton {
  background-color: $secondary;
  margin-top: 54px;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 20px 15px;
  width: 100%;
}

@media (min-width: 300px) {
  .roomsDescriptionContent {
    margin: 6rem 1rem 228px 1rem;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .roomsDescriptionContent {
    margin: 6rem 2rem 228px 2rem;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
