.planesAdminTitle {
  font-size: 1.5rem;
  color: $grayLighter7;
}

.planesAdminPlanesContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.planesAdminPlan {
  background: #fff;
  border-radius: 10px;
  color: $grayLighter7;
  text-align: center;
}

.planesAdminPlanTitle {
  font-size: 1.1rem;
  margin: 15px 0;
}

.planesAdminPlanQuantity {
  font-size: 2.25rem;
  margin: 40px 0 0 0;
}

.planesAdminPlanDetail {
  font-size: 1.1rem;
}

.planesAdminPlanesDetailsContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.planesAdminPlanesDetailsElement {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 50px;
}

.planesAdminPlanesDetailsTitle {
  color: $grayLighter7;
  margin: 25px 0;
  text-align: center;
  max-width: 240px;
}

.planesAdminPlanesDetailsImage {
  width: 140px;
  height: 140px;
  background-color: $grayLighter5;
  border-radius: 50%;
  margin-bottom: 15px;
}

.planesAdminPlanesDetailsInfo {
  display: flex;
  align-items: center;
}

.planesAdminPlanesDetailsTableOffice {
  color: $grayLighter7;
}

.planesAdminPlanesDetailsTableStatus {
  color: $grayLighter7;
}

.planesAdminDailyReservationsTitle {
  font-size: 1.5rem;
  color: $grayLighter7;
  margin: 45px 0;
}

.planesAdminDailyReservationsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: $grayLighter7;
}

.planesAdminDailyReservationsElement {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.planesAdminDailyReservationsElementTitle {
  font-size: 1.1rem;
  margin-bottom: 35px;
}

.planesAdminDailyReservationsElementNumber {
  font-size: 2.25rem;
  margin-bottom: 5px;
}

.planesAdminDailyReservationsElementDetail {
  font-size: 14px;
  margin-bottom: 50px;
}

.planesAdminDailyReservationsSeparator {
  border: 1px solid $grayLighter7;
  height: 75px;
}

.planesAdminNumbersTitle {
  font-size: 2.25rem;
  margin: 40px 0;
  color: $grayLighter7;
}

.planesAdminGeneralNumbersContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.planesAdminGeneralNumbers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $grayLighter7;
  background: #fff;
  border-radius: 10px;

  svg {
    margin-right: 20px;
  }
}

.planesAdminGeneralNumbersSeparator {
  border: 1px solid $grayLighter7;
  height: 75px;
  margin-right: 20px;
}

.planesAdminGeneralNumbersTitle {
  font-size: 1.1rem;
  margin: 0 0 15px 0;
}

.planesAdminGeneralNumbersAmount {
  font-size: 1.5rem;
}

.planesAdminRightSide {
  color: $grayLighter7;
  height: 100%;
}

.planesAdminRightSideTitle {
  font-size: 2.25rem;
  padding: 100px 0 40px 30px;
}

.planesAdminRightSideDetail {
  background: #fff;
  border-radius: 10px;
  margin: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.planesAdminRightSideDetailTitle {
  font-size: 1.1rem;
  margin: 15px 0;
}

.planesAdminRightSideDetailSeparator {
  border: 1px solid $grayLighter10;
  width: 100%;
}

.planesAdminRightSideDetailNumber {
  font-size: 2.25rem;
  margin: 40px 0 0 0;
}

.planesAdminRightSideDetailText {
  font-size: 1.1rem;
}

@media (min-width: 300px) {
  .planesAdminTitle {
    margin: 40px 0;
  }

  .planesAdminPlanesContainer {
    justify-content: center;
  }

  .planesAdminPlan {
    padding: 20px 30px;
    margin: 5px;
  }

  .planesAdminPlanesDetailsContainer {
    justify-content: center;
  }

  .planesAdminGeneralNumbers {
    padding: 20px;
    margin: 10px;
  }

  .planesAdminDailyReservationsElement {
    margin: 10px;
  }

  .planesAdminDailyReservationsSeparator {
    display: none;
  }

  .planesAdminPlanesDetailsTableOfficesAvailability {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .planesAdminTitle {
    margin: 40px 0 40px 70px;
  }

  .planesAdminPlanesContainer {
    justify-content: initial;
  }

  .planesAdminPlan {
    padding: 50px 30px;
    margin: 10px;
  }

  .planesAdminGeneralNumbers {
    padding: 20px 100px 20px 30px;
    margin: 40px;
  }

  .planesAdminDailyReservationsElement {
    margin: unset;
  }

  .planesAdminDailyReservationsSeparator {
    display: block;
    margin: 0 20px;
  }

  .planesAdminPlanesDetailsTableOfficesAvailability {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .planesAdminPlan {
    margin: 20px;
  }
}

@media (min-width: 992px) {
  .planesAdminPlanesDetailsContainer {
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
  .planesAdminDailyReservationsSeparator {
    margin: 0 100px;
  }
}
