.planesHeaderContent {
  position: relative;
  z-index: 100;
  color: #fff;
  top: 20%;
  margin-left: 6.55rem;
  width: 500px;
}

.actualPlanTitle,
.actualPlanText,
.actualPlanPrice,
.actualPlanButton,
.actualPlanSVG {
  z-index: 100;
  color: #fff;
}

.actualPlanSVG {
  margin-right: 2rem;
}

.actualPlanTitle {
  font-size: 4rem;
  margin-bottom: 0;

  svg {
    margin-right: 2rem;
  }

  p {
    font-size: 4rem;
  }
}

.actualPlanTime {
  margin: 0 !important;
  background: #fafafa;
  color: #afafaf;
  width: 300px;
  margin-top: 33px;
}

.actualPlanText {
  font-size: 1.1rem;
  margin-top: 33px;
}

.actualPlanPrice {
  font-size: 3rem;
  margin-bottom: 33px;
}

.actualPlanButton {
  background-color: #ffe3c7;
  color: $secondary !important;
  padding: 1rem 3rem;
  border: none;
  border-radius: 10px;
  width: 400px;
}

.choosePlan {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.choosePlanTitle {
  color: $secondary;
  font-size: 2.25rem;
}

.choosePlanImage {
  width: 125px;
  height: 125px;
  margin: 0 1rem;
}

.whyPlanContainer {
  margin: 1rem 0 260px 0;
  display: flex;
  flex-direction: column;
}

.whyPlanTitle {
  color: $secondary;
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

.whyPlanText {
  font-size: 1.1rem;
}

.plansContainerPlans {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

@media (min-width: 300px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
