.plansGeneralContainerPlans {
  background: $grayLighter1;
}

.planesHeaderContent {
  position: relative;
  z-index: 50;
  color: #fff;
  padding-left: 50px;
  width: 700px;
  height: 100%;
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%22707%22%20height%3D%221037%22%20viewBox%3D%220%200%20707%201037%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M707%200C707%20572.749%20390.485%201037%200%201037V0H707Z%22%20fill%3D%22%23004B2A%22%2F%3E%0A%3C%2Fsvg%3E');
  background-size: 100%;
}

.actualPlanSVG {
  margin: 200px 0 43px 0;
  margin-right: 2rem;
}

.consultSelectPlanes {
  background: #fff;
  color: $grayLighter4;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.actualPlanTitle {
  padding: 200px 0 43px 0;
}

.actualPlanTitle,
.actualPlanText,
.actualPlanPrice,
.actualPlanButton,
.actualPlanSVG {
  color: #fff;
  max-width: 500px;
}

.actualPlanTitle {
  font-size: 4rem;
  margin-bottom: 0;

  svg {
    margin-right: 2rem;
  }

  p {
    font-size: 4rem;
  }
}

.actualPlanTime {
  margin: 0 !important;
  background: #fafafa;
  color: $grayLighter4;
  width: 300px;
  margin-top: 33px;
}

.actualPlanText {
  font-size: 1.1rem;
  margin: 33px 0 0 0;
}

.actualPlanPrice {
  font-size: 3rem;
  margin: 20px 0 37px 0;
}

.actualPlanButton {
  background-color: $grayLighter3;
  color: $secondary !important;
  padding: 1rem 3rem;
  border: none;
  border-radius: 10px;
  width: 400px;
  font-size: 1.1rem;
}

.choosePlanContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.choosePlanTitle {
  color: $secondary;
  font-size: 2.25rem;
}

.choosePlanTitleMobile {
  color: $secondary;
  font-size: 1.1rem;
  padding: 44px 0 31px 0;
}

.choosePlanImage {
  width: 125px;
  height: 125px;
  margin: 1rem;
}

.whyPlanContainer {
  padding: 220px 0 245px 0;
  display: flex;
  flex-direction: column;
}

.whyPlanTitle {
  color: $secondary;
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

.whyPlanTitleMobile {
  color: $secondary;
  font-size: 1.1rem;
  padding: 30px 0 20px 0;
}

.whyPlanText {
  font-size: 1.1rem;
}

.whyPlanTextMobile {
  font-size: 1rem;
}

.plansContainerPlans {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.plansContainerMobilePlans {
  background: $grayLighter1;
}

.actualPlanHeaderPlansMobileBackground {
  padding-top: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}

.actualPlanTitleMobile {
  color: #fff;
  font-size: 2rem;
}

.creditsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background: #fff;
}

.creditsDescription {
  color: $grayLighter4;
  margin: 0;
  padding-left: 10px;
}

.creditsPriceContainer {
  background: $secondary;
  color: $grayLighter1;
  font-size: 1.5rem;
  padding: 15px;
  border-radius: 0 5px 5px 0;
}

.plansButtonMobilePlans {
  background: #fff;
  color: $secondary;
  width: 100%;
  border-radius: 10px;
  border: none;
  margin: 20px 0;
  padding: 10px 0;
}

.choosePlanContainerMobile {
  background: #fff;
}

.whyPlanContainerMobile {
  padding: 30px 0 50px 0;
  display: flex;
  flex-direction: column;
  background: #fff;
  color: $grayDarker2;
}

@media (min-width: 300px) {
  .plansContainerLargerPlans {
    display: none;
  }

  .plansContainerMobilePlans {
    display: block;
  }

  .marginNavbar {
    margin: 16.5rem 0 0 0;
  }

  .filtersSection {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .choosePlanContainer {
    flex-direction: column;
    margin: 50px 1rem 220px 1rem;
  }
}

@media (min-width: 576px) {
  .marginNavbar {
    margin: 6rem 0 0 0;
  }
}

@media (min-width: 768px) {
  .marginNavbar {
    margin: 7.5rem 0 0 0;
  }

  .filtersSection {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 992px) {
  .plansContainerLargerPlans {
    display: block;
  }

  .plansContainerMobilePlans {
    display: none;
  }

  .choosePlanContainer {
    flex-direction: row;
    margin: 50px 2rem 220px 2rem;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
  .filtersSection {
    justify-content: flex-start;
  }
}
