.reservasAdminTitle {
  color: $primaryDarker;
  font-size: 3rem;
  margin: 77px 0 55px 0;
}

.reservasAdminFilterLogo {
  margin-right: 22px;
}

.filterButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primaryLighter;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
  margin: 0 15px;
}

.dropdownButton,
.normalButton {
  background-color: $primaryLighter;
  border: none;
  color: #fff;
  font-size: 1.1rem;
}

.reservasAdminTable {
  margin-top: 50px;
}

.primaryColorDarkerRow {
  background-color: $primaryDarker;
}

.rowHover {
  text-align: center;
  font-size: 1.1rem;
  color: #7d7c7a;
}

.cancelButton {
  background-color: transparent;
  border: none;
  color: #7d7c7a;
}

.rowHover:hover .cancelButton {
  background-color: #fff;
  border-radius: 10px;
  color: $primaryDarker;
  padding: 10px;
}

.rowHover:hover {
  background-color: $primaryLighter;
  color: #fff;
}

.roomType {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 175px;
  margin: 0 0.5rem;

  .roomTypeTitle {
    font-size: 1.5rem;
  }

  .roomTypeContent {
    font-size: 1rem;
  }
}

.reservationContainer {
  background-color: $primaryDarker;
  border-radius: 15px;
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 3rem 0;
  padding: 1rem 2rem 0 2rem;
}

.currentPlanContainer {
  @extend .reservationContainer;
  background-color: $primary;
  position: relative;
}

.planIcon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.currentPlanContent {
  padding: 1rem 2rem 0 2rem;
  width: 100%;
}

.buttonContainer {
  color: $primaryDarker;
  background-color: #fff;
  border: none;
  border-radius: 15px;
}

.roomTypesSection {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 300px) {
  .roomTypesSection {
    justify-content: center;
    align-items: center;
  }

  .buttonContainer {
    padding: 0.5rem 2rem;
  }
}

@media (min-width: 576px) {
  .buttonContainer {
    padding: 0.5rem 4rem;
  }
}

@media (min-width: 768px) {
  .roomTypesSection {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media (min-width: 992px) {
  .buttonContainer {
    padding: 0.5rem 2rem;
  }
}

@media (min-width: 1200px) {
  .buttonContainer {
    padding: 0.5rem 4rem;
  }
}

@media (min-width: 1440px) {
}
