.reservasAdminTitle {
  color: $primaryDarker;
  font-size: 3rem;
  margin: 35px 0 40px 0;
}

.reservasAdminSearch {
  position: relative;
  width: 270px;
}

.reservasAdminInput {
  padding-left: 50px;
  width: 100%;
}

.reservasAdminSearchSVG {
  position: absolute;
  left: 10px;
  margin: 5px;
}

.reservasAdminFilterLogo {
  margin-right: 22px;
}

.reservasAdminFilterButtonsContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.reservasAdminFilterButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primaryLighter2;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
  margin: 10px 15px;
}

.reservasAdminTable {
  margin-top: 50px;
  border-radius: 15px;
}

.reservasAdminPrimaryColorDarkerRow {
  background-color: $primaryDarker;
}

.reservasAdminRowHover {
  text-align: center;
  font-size: 1.1rem;
  color: $grayDarker2;
}

.reservasAdminCancelButton {
  background-color: transparent;
  border: none;
  color: $grayDarker2;
}

.page-link {
  &.reservasAdminPagination {
    background-color: $primary !important;
  }
}

.reservasAdminRowHover:hover .reservasAdminCancelButton {
  background-color: #fff;
  border-radius: 10px;
  color: $primaryDarker;
  padding: 10px;
}

.reservasAdminRowHover:hover {
  background-color: $primaryLighter2;
  color: #fff;
}

.reservasAdminAvailabilityTitle {
  font-size: 1.5rem;
  color: $grayDarker10;
  margin: 115px 0 20px 0;
}

.reservasAdminRoomsContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.reservasAdminRoomContainer {
  padding: 20px 50px;
  background-color: #fff;
  border-radius: 10px;
}

.reservasAdminRoomContainerTitle {
  font-size: 1.5rem;
  color: $grayDarker10;
  margin: 0 0 30px 0;
}

.reservasAdminRoomContainerImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: $primaryLighter2;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.reservasAdminRoomContainerDataContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.reservasAdminRoomContainerData {
  display: flex;
  align-items: center;
  margin: 50px 5px 0 5px;
}

.reservasAdminRoomContainerDataImage {
  width: 25px;
  height: 25px;
  background-color: $primaryLighter2;
  border-radius: 50%;
  margin-right: 10px;
}

.reservasAdminRoomContainerDataText {
  font-size: 1.1rem;
  margin: 0;
}

@media (min-width: 300px) {
  .reservasAdminRoomsContainer {
    justify-content: center;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .reservasAdminRoomsContainer {
    justify-content: initial;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
