.roomsGeneralContainerRooms {
  background: $grayLighter;
}

.roomHeaderContent {
  position: relative;
  z-index: 50;
  color: #fff;
  padding-left: 50px;
  width: 700px;
  height: 100%;
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%22707%22%20height%3D%221037%22%20viewBox%3D%220%200%20707%201037%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M707%200C707%20572.749%20390.485%201037%200%201037V0H707Z%22%20fill%3D%22%23004B2A%22%2F%3E%0A%3C%2Fsvg%3E');
  background-size: 100%;
}

.salasMobileBackground {
  padding-top: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}

.salasTitleMobile {
  font-size: 2rem;
}

.salasContainerMobile {
  background: #f1f1f1;
}

.roomTitle {
  padding: 200px 0 40px 0;
  margin-bottom: 0;
  color: #fff;
  font-size: 4rem;
  max-width: 500px;
}

.roomButton {
  background-color: #ffe3c7;
  color: $secondary;
  padding: 1rem 3rem;
  border: none;
  border-radius: 1.25rem;
  width: 400px;
  margin-top: 60px;
  font-size: 1.1rem;
}

.chooseRoomContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chooseRoomContainerMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 66px;
  background: #fff;
}

.chooseRoomTitle {
  color: $secondary;
  font-size: 2.25rem;
}

.chooseRoomTitleMobile {
  color: $secondary;
  font-size: 2.25rem;
  padding: 43px 0 36px 0;
}

.chooseRoomImage {
  width: 125px;
  height: 125px;
  margin: 1rem;
}

.hourPlansContainer {
  display: flex;
  flex-direction: column;
  margin: 180px 0 192px 0;
}

.hourPlansTitle {
  font-size: 1.5rem;
  color: $secondary;
}

.hourPlansSubtitle {
  font-size: 1.1rem;
  margin: 40px 0 45px 0;
}

.hourPlansTable {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;

  .table-responsive {
    .table {
      color: #7d7c7a;

      tbody {
        tr {
          td {
            font-size: 1.5rem !important;
          }
        }
      }
    }
  }
}

.priceRoomRowTable {
  width: 150px;
}

.roomsRowTable {
  td {
    width: 50px;
  }
}

.roomsRowTable:hover {
  background: #fff5ec;

  .priceRoomRowTable {
    background: $secondary;
    color: #fff;
  }
}

.hourPlansButton {
  background: $secondary;
  color: #fff;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 20px 24px;
  font-size: 1.1rem;
  margin: 100px 0 192px 0;
}

.roomsFooter {
  position: relative;
  background: $secondary;
  height: 40vh;
}

.roomsFooterSVGContainer {
  position: absolute;
  left: 0;
  z-index: 2;
  top: -25px;
}

.roomsFooterSVGContent {
  position: absolute;
  z-index: 2;
  color: #fff;
  font-size: 2.25rem;
  margin: 4rem 0 0 2rem;

  p {
    width: 50%;
  }
}

.roomsFooterContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
}

.roomsFooterContainerMobile {
  @extend .roomsFooterContainer;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 30px;
  margin-left: 0;
}

.roomsFooterPlanContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 4rem 1rem 0 1rem;
  color: #fff;
}

.roomsFooterSVGSquare {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 1rem;
}

.roomsFooterPlanTitle {
  font-size: 1.5rem;
  margin-top: 35px;
}

.roomHorizontalMobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  margin: 8px 0;
  background: #fff;
}

.roomHorizontalTitle {
  color: #afafaf;
  background: #fff;
  padding: 5px;
  border-radius: 10px;
  margin: 0;
}

.roomHorizontalMobile:hover {
  background: #ffbe7c;
  color: #575757;

  .roomHorizontalTitle {
    background: #ffbe7c;
    color: #575757;
  }
}

.roomHorizontalPrice {
  color: #fff;
  font-size: 1.5rem;
  background: $secondary;
  margin: 0;
  font-size: 1.5rem;
  padding: 10px 15px;
  border-radius: 0 10px 10px 0;
}

.roomsButtonMobileRooms {
  background: #fff;
  color: $secondary;
  width: 100%;
  border-radius: 10px;
  border: none;
  margin: 33px 0;
  padding: 10px 0;
}

.allRoomsContainerMobile {
  background: $secondary;
  color: #fff;
}

.allRoomsTitleMobile {
  padding: 25px 0;
}

@media (min-width: 300px) {
  .salasContainerLarger {
    display: none;
  }

  .salasContainerMobile {
    display: block;
  }

  .chooseRoomContainer {
    flex-direction: column;
    margin: 50px 1rem 200px 1rem;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .chooseRoomContainer {
    flex-direction: row;
    margin: 50px 2rem 200px 2rem;
  }
}

@media (min-width: 992px) {
  .salasContainerLarger {
    display: block;
  }

  .salasContainerMobile {
    display: none;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
}
