$primary: #004b2a;
$primaryDarker: #0e4327;
$primaryLighter1: #00af62;
$primaryLighter2: #008249;
$primaryLighter3: #e1f3eb;
$primaryLighter4: #038b4f;
$secondary: #ff972f;
$secondaryLight: #ffd7b5;
$grayLighter1: #f1f1f1;
$grayLighter2: #f5f5f5;
$grayLighter3: #ffe3c7;
$grayLighter4: #afafaf;
$grayLighter5: #c4c4c4;
$grayLighter6: #9b9b9b;
$grayLighter7: #9f9d9b;
$grayLighter8: #858482;
$grayLighter9: #f4f4f4;
$grayLighter10: #e1e1e1;
$grayLighter11: #dbdbdb;
$grayLighter12: #e9e9e9;
$grayLighter13: #fff5ec;
$grayLigther14: #f8f9fc;
$grayDarker1: #7c7c7c;
$grayDarker2: #7d7c7a;
$grayDarker3: #717171;
$grayDarker4: #656565;
$grayDarker5: #5b5b5b;
$grayDarker6: #575757;
$grayDarker7: #68605a;
$grayDarker8: #4f4949;
$grayDarker9: #3e3e3e;
$grayDarker10: #343434;
$grayDarker11: #4e4e4e;
$grayDarker12: #525252;
$grayDarker13: #414141;
$grayDarker14: #878787;
$grayDarker15: #828282;
$grayDarker16: #727272;
$grayDarker17: #6a6a6a;
$grayDarker18: #a3a19f;
$grayDarker19: #998e85;
$grayDarker20: #787878;
