$primary: #004b2a;
$primaryDarker: #0e4327;
$primaryLighter: #008249;
$secondary: #ff972f;
$grayLighter1: #f1f1f1;
$grayLighter2: #f5f5f5;
$grayLighter3: #ffe3c7;
$grayLighter4: #afafaf;
$grayLighter5: #c4c4c4;
$grayLighter6: #9b9b9b;
$grayLighter7: #9f9d9b;
$grayLighter8: #858482;
$grayDarker1: #7c7c7c;
$grayDarker2: #7d7c7a;
$grayDarker3: #717171;
$grayDarker4: #656565;
$grayDarker5: #5b5b5b;
$grayDarker6: #575757;
$grayDarker7: #4f4949;
$grayDarker8: #3e3e3e;
$grayDarker9: #343434;