@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700;800&display=swap');

/* Sizes
1rem		  16px
1.05rem		17px
1.1rem		18px
1.25rem		20px
1.35rem		22px
1.5rem		24px
1.65rem		26px
1.85rem		30px
2.25rem		36px
3.1rem		50px
3.75rem		60px
4.5rem		72px
5.65rem		90px */

body {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.lightFont {
  font-weight: 300 !important;
}

.semiBoldFont {
  font-weight: 600 !important;
}

.boldFont {
  font-weight: 700 !important;
}

.extraBoldFont {
  font-weight: 800 !important;
}

.generalContent {
  display: flex;
  background-color: $tertiary;
}

.sectionTitle {
  color: $primaryDarker;
}

.whiteSeparator {
  height: 1px;
  background: #fff;
  border: 0;
  width: 100%;
  margin-top: 10px;
}

.filtersSection {
  display: flex;
  margin: 3rem 0;
}

.filterButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primaryDarker;
  color: #fff;
  padding: 1rem;
  border-radius: 15px;
  margin: 1rem;
}

.dropdownButton,
.normalButton {
  background-color: $primaryDarker;
  border: none;
  color: #fff;
}

.pagination.pg-blue .page-item.active .page-link {
  background-color: $primaryDarker !important;
}

.pagination .page-item.active .page-link {
  background-color: $primaryDarker !important;
}

.darkGreenBackground {
  background: #0e4327 !important;
}

@media (min-width: 300px) {
  .marginNavbar {
    margin: 16.5rem 0 0 0;
  }

  .generalContent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .generalContentBody {
    flex-direction: column;
    align-items: flex-start;
  }

  .filtersSection {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 576px) {
  .marginNavbar {
    margin: 6rem 0 0 0;
  }

  .generalContent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .generalContentBody {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: 768px) {
  .marginNavbar {
    margin: 7.5rem 0 0 0;
  }

  .generalContent {
    flex-direction: row;
    align-items: flex-start;
  }

  .generalContentBody {
    flex-direction: row;
    justify-content: flex-start;
  }

  .filtersSection {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
  .filtersSection {
    justify-content: flex-start;
  }
}
