@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700;800&display=swap');

/* Sizes
0.85rem   14px
1rem		  16px
1.05rem		17px
1.1rem		18px
1.25rem		20px
1.35rem		22px
1.5rem		24px
1.65rem		26px
1.85rem		30px
2.25rem		36px
3rem      48px
3.1rem		50px
3.75rem		60px
4rem      64px
4.5rem		72px
5.65rem		90px */

body {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

.lightFont {
  font-weight: 300 !important;
}

.semiBoldFont {
  font-weight: 600 !important;
}

.boldFont {
  font-weight: 700 !important;
}

.extraBoldFont {
  font-weight: 800 !important;
}

.mdb-select {
  font-family: 'Merriweather Sans', sans-serif !important;
}

.carouselArrow {
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
  z-index: 1000;
}

.carouselArrow:hover {
  background: none !important;
}

.carouselArrowPrevious {
  @extend .carouselArrow;
  left: 0;
  margin-right: 100px;
}

.carouselArrowNext {
  @extend .carouselArrow;
  right: 0;
  margin-left: 100px;
}

.carouselArrow:hover {
  background: #c4c4c4;
}

.control-arrow {
  transform: scale(3) !important;
  background: $grayDarker6 !important;
}

.control-arrow:hover {
  background: #c4c4c4 !important;
}

.seePassword {
  position: absolute;
  top: 3px;
  right: 0;
  color: $grayDarker8;
}

.floatButton {
  position: fixed;
  right: 0;
  top: 70vh;
  width: 100px;
  height: 100px;
  color: $secondary;
  border-radius: 0 0 0 100px;
  font-size: 50px;
  z-index: 100;
}

.floatWhatsApp {
  background-color: #fff;
  color: $secondary !important;
}

.fa-whatsapp {
  position: absolute;
  top: 10px;
  right: 20px;
}

.mobileSelect {
  background: #fff !important;
  color: $grayLighter4 !important;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
}

.semiCircleHeaderMobile {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 50;
  color: #fff;
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%22136%22%20height%3D%22139%22%20viewBox%3D%220%200%20136%20139%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M136%20139C136%2062.2285%2075.1146%200%200%200V139H136Z%22%20fill%3D%22%23004B2A%22%2F%3E%0A%3C%2Fsvg%3E%0A');
  background-size: 100%;
  margin-top: 100px;
  padding: 40px 0 0 15px;
  width: 50vw;
  height: 50vw;
}

.semiCircleHeaderMobileColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 50;
  color: #fff;
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%22136%22%20height%3D%22139%22%20viewBox%3D%220%200%20136%20139%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M136%20139C136%2062.2285%2075.1146%200%200%200V139H136Z%22%20fill%3D%22%23004B2A%22%2F%3E%0A%3C%2Fsvg%3E%0A');
  background-size: 100%;
  margin-top: 100px;
  width: 50vw;
  height: 50vw;
}

.generalContentAdminBody,
.generalContentAdminBodyBlur {
  padding: 0 90px 0 90px;
  margin: 0 10px 0 10px;
  position: relative;
}

// Calendar
.fc-scrollgrid-section-header {
  background-color: $primaryLighter2 !important;
  color: #fff;
  padding: 10px !important;
}

.fc-daygrid-event {
  &.fc-daygrid-block-event {
    background-color: $primary;
    padding: 10px;
  }
}

.fc-event-main {
  background-color: $primary;
}

.fc .fc-button-primary {
  background: $primary !important;
}

@media (min-width: 300px) {
  .customContainer {
    padding: 0 15px 0 15px;
    margin: 0 10px 0 10px;
    max-width: none !important;
  }

  .generalContent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .semiCircleHeaderMobileColumn {
    padding: 40px 0 0 0;
    left: -10%;
  }
}

@media (min-width: 576px) {
  .customContainer {
    padding: 0 15px 0 15px;
    margin: 0 75px 0 75px;
    max-width: none !important;
  }

  .generalContent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .semiCircleHeaderMobileColumn {
    padding: 40px 0 0 15px;
    left: unset;
    flex-direction: row;
    justify-content: unset;
  }
}

@media (min-width: 768px) {
  .generalContent {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .customContainer {
    padding: 0 15px 0 15px;
    margin: 0 200px 0 200px;
    max-width: none !important;
  }
}

@media (min-width: 1400px) {
}
